<div class="sidebar right" id="registration-panel">
    <a href="javascript:" class="registration-event" data-action="close" data-side="right"><i class="fa fa-close"></i></a>
    <div class="row">
        <div class="col-md-12">
            <h4 class="title">WELL COME TO {{ globalOption.name|upper }} REGISTRATION</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form id="registrationForm" name="registrationForm" method="post" action="{{ path(globalOption.subDomain ~ '_webservice_member_signup') }}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Name <span class="required">*</span></label>
                                <input type="text" class="form-control" id="registration_name" name="registration_name" placeholder="Enter your full name"  />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="email">Mobile No <span class="required">*</span></label>
                                <input type="text" class="form-control" id="registration_mobile" name="registration_mobile" placeholder="Enter mobile no" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Email Address</label>
                                <input type="email" class="form-control" id="registration_email" name="registration_email" placeholder="Enter valid email address ie. user@domain.com"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Facebook ID</label>
                                <input type="text" class="form-control" id="registration_facebookId" name="registration_facebookId" placeholder="Enter only id ie. terminalbd,facebook"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Address</label>
                                <textarea name="registration_address" id="registration_address"  class="form-control" rows="3" cols="25"  placeholder="Enter your mail address details"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div id="captcha">
                                <span id="question"></span><input id="ans" type="number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary pull-right" id="registrationSubmitForm" ><i class="fa fa-send"></i> Register</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="captcha-msg" >
                            <div id="verify">Please verify.</div>
                            <div id="success">Validation complete :)</div>
                            <div id="fail">Validation failed :(</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>