{% extends '::mobile/base.html.twig' %}

{% block body %}


    <div class="ui-content" role="main"><!-- /content -->
        <div class="article">
            <h2>{{ entity.name }}</h2>
            {{ entity.content }}
        </div><!-- /article -->
    </div>

{% endblock %}

