{% extends '::mobile/base.html.twig' %}

{% block body %}
    <div class="ui-content" role="main"><!-- /content -->
        <div class="article">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="/uploads/files/educations/kitchen_adventurer_cheesecake_brownie.jpg" />
                        </li>
                        <li>
                            <img src="/uploads/files/educations/kitchen_adventurer_lemon.jpg" />
                        </li>
                        <li>
                            <img src="/uploads/files/educations/kitchen_adventurer_donut.jpg" />
                        </li>
                        <li>
                            <img src="/uploads/files/educations/kitchen_adventurer_caramel.jpg" />
                        </li>
                    </ul>
                </div>
            </section>
            <h2>Welcome to Scholastica</h2>
            <p>

                Scholastica was established in 1977 by Mrs. Yasmeen Murshed. It was founded with a mission to provide a balanced and well-rounded education for all our students, using English as the primary medium of instruction but placing equal emphasis on Bangla.

                Scholastica's mission is to build curious, knowledgeable and caring young individuals, who will be equipped to tackle head-on the challenges of our modern-day “global village”. They will aspire to become responsible citizens, who will embrace and respect people from other cultures and walks of life.
            </p>


        </div><!-- /article -->
        <div class="ui-grid-a menu-ui-grid"> <!-- menu-container -->

            <!-- FIRST ROW -->
            <!-- 1st elem -->
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-a">
                    <div class="menu-elem"> <a href="#" class="ui-link">
                            <div class="menu-img"> <img src="/assets/mobile/images/1.png"> </div>
                            <div class="menu-text"> Elem 1.1 </div>
                        </a> </div>
                </div>
            </div>
            <!-- 2nd elem -->
            <div class="ui-block-b">
                <div class="ui-bar ui-bar-a">
                    <div class="menu-elem"> <a href="#" class="ui-link">
                            <div class="menu-img"> <img src="/assets/mobile/images/2.png"> </div>
                            <div class="menu-text"> Elem 1.2 </div>
                        </a> </div>
                </div>
            </div>

            <!-- SECOND ROW -->
            <!-- 1st elem -->
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-a">
                    <div class="menu-elem"> <a href="#" class="ui-link">
                            <div class="menu-img"> <img src="/assets/mobile/images/3.png"> </div>
                            <div class="menu-text"> Elem 2.1 </div>
                        </a> </div>
                </div>
            </div>
            <!-- 2nd elem -->
            <div class="ui-block-b">
                <div class="ui-bar ui-bar-a">
                    <div class="menu-elem"> <a href="#" class="ui-link">
                            <div class="menu-img"> <img src="/assets/mobile/images/4.png"> </div>
                            <div class="menu-text"> Elem 2.2 </div>
                        </a> </div>
                </div>
            </div>

            <!-- THIRD ROW -->
            <!-- 1st elem -->
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-a">
                    <div class="menu-elem"> <a href="#" class="ui-link">
                            <div class="menu-img"> <img src="/assets/mobile/images/5.png"> </div>
                            <div class="menu-text"> Elem 3.1 </div>
                        </a> </div>
                </div>
            </div>
            <!-- 2nd elem -->
            <div class="ui-block-b">
                <div class="ui-bar ui-bar-a">
                    <div class="menu-elem"> <a href="#" class="ui-link">
                            <div class="menu-img"> <img src="/assets/mobile/images/6.png"> </div>
                            <div class="menu-text"> Elem 3.2 </div>
                        </a> </div>
                </div>
            </div>
        </div>
        <div data-role="collapsibleset" data-content-theme="a">
            <div data-role="collapsible">
                <h3>Announcements 2014-2015</h3>

                <p><strong>4 November</strong> - Scholastica Boys Table Tennis team and Under 15 Football team clinched the Championship title in the 4th Sunnydale Games 2014 which was held at the Physical Training Institute. The Girls Handball team became Runners up in the same event</p>
                <p><strong>4 November</strong> - Scholastica Boys Under 14 Football team became Champion at the Aga Khan School Boys Football Tournament 2014</p>
                <p><strong>25-27 September</strong> - <a target="new" href="docs/public/press/Scholastica_basket_TournamentOct2014.pdf"> Scholastica Inter School Basketball Tournament 2014, organized by Scholastica Senior campus in Uttara</a></p>
                <p><strong>11-13 September</strong> - <a target="new" href="docs/public/press/Volleyball_Tournament2014.pdf"> Scholastica Girls' Volleyball team became Champion in Scholastica Inter School Volleyball Tournament 2014, organized by Scholastica Senior campus in Uttara</a></p>
                <p><strong>10-13 September</strong> - Scholastica Under 13 and Under 16 Football teams became Champions in Mother Euphrasie Barbier Memorial Interschool Boy's Football Tournament 2014, organized by S.F.X. Greenherald International School</p>
                <p><strong>23-26 August</strong> - <a target="new" href="docs/public/press/Odyssey_Internationl2014.pdf"> Scholastica Team awarded at the 6th Odyssey International 2014 in India</a></p>
                <p><strong>13-16 August</strong> - <a target="new" href="docs/public/press/HMUN2014_Hyderabad_trip.jpg"> Scholastica Team participates at the Harvard Model United Nation 2014 in India</a></p>
            </div>
            <div data-role="collapsible">
                <h3>Fast Fact</h3>
                <ul>
                    <li>offer  English-medium instruction</li>
                    <li>provide science  labs for secondary school students</li>
                    <li>develop a  custom-built campus with numerous facilities, including auditoriums, a swimming  pool and numerous hard courts</li>
                    <li>forge  international connections through sports and trips abroad</li>
                    <li>hire foreign  experts to develop curriculum</li>
                    <li>provide  mandatory, international-standard training for teachers and management</li>
                    <li>introduce  sophisticated technology to manage data and information systems</li>
                    <li>launch an  internship program</li>
                    <li>introduce  multimedia technology in classrooms</li>
                </ul>
            </div>
            <div data-role="collapsible">
                <h3>Upcoming Events</h3>

                <p><strong>19-November-2014</strong> - Educational Field Trip for Class IV @ Mirpur campus</p>
                <p><strong>18 &amp; 19-November-2014</strong> - Grandparents' Day for Playgroup @ Uttara Junior campus</p>
                <p><strong>18-November-2014</strong> - Educational Field Trip for Class VIII @ Mirpur campus</p>
                <p><strong>17-November-2014</strong> - Educational Field Trip for Class VI @ Mirpur campus</p>
                <p><strong>17-November-2014</strong> - Awareness Program "Healthy Food for Healthy Life" @ Gulshan Junior campus</p>
                <p><strong>16-November-2014</strong> - Observance of International Day for Tolerance @ Mirpur campus</p>
                <p><strong>16-November-2014</strong> - Educational Field Trip for Class V @ Mirpur campus</p>
                <p><strong>13-November-2014</strong> - Awareness Program "Bring out the Best in You" @ Uttara Middle campus</p>
                <p><strong>12-November-2014</strong> - Educational Field Trip for Class I @ Uttara Junior campus</p>
                <p><strong>10 &amp; 11-November-2014</strong> - Educational Field Trips for Class II @ Gulshan Junior campus </p>
                <p><strong>9 to 12-November-2014</strong> - Awareness Program "Green World" @ Dhanmondi Junior campus </p>
            </div>
        </div>
    </div><!-- /page -->
{% endblock %}

