{% extends ':template:mobile.html.twig' %}
{% block body %}
    <div class="bannerPane bannerPane-business-locaton"  {% if page.webPath() is not empty %} style="background:url('{{ image(page.webPath()).resize() }}')" {% endif %}  >
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img width="100" src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}" /></div>
            {{ page.name }}
        </div>
    </div>
    <div id="content" class="content-margin">
        {{ page.content|raw }}
        <div class="clear"></div>
    </div>
{% endblock %}
