# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/img/*
web/images/*
web/js/*
web/assets
web/fonts/*

bin/*
!bin/build.sh

# Configuration files
app/config/dynamic/*.yml
app/config/parameters.ini
app/config/parameters.yml
web/.htaccess

# Composer
composer.phar

# IDE
.idea/*
.nbproject/*

# OS
.DS_Store
Thumbs.db