<div class="accrodation">
        {% for  row in entity.noticeBoards %}
        <span class="acc-trigger"><a href="#">{{ row.name }}<em>{{ row.created|date('F j, Y') }}</em></a></span>
        <div class="acc-container">
            <div class="content">
                {{ row.content|raw }}
            </div>
        </div>
    {% endfor %}
</div>
<style>
    .acc-trigger a em{
        float: right;
        font-size: 12px;
        color: #000;
        font-weight: normal;
    }
</style>
