@import url("http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css");

.table-fixed {
    width: 100%;
}
tbody{
    height:318px;
    overflow-y:auto;
    width: 100%;
}
thead,tbody,tr,td,th{
    display:block;
}
tbody td{
    float:left;
}

thead tr th{
    float:left;
    background-color: #f39c12;
    border-color:#e67e22;
}
.referred-add{
    display: none;
}

.referred-add{
    display: none;
}
.select2Item{
    border: 5px solid #4b8df8
}
.sales-right{
    padding-right: 10px;
}
.sales-right input{
    font-size: 20px;
    width: 100px;
    font-weight: bold;
    margin-top: -5px;
    text-align: right;
    border-right:2px solid #000;
    border-left:2px solid #000;
    height: 23px
}
.select2-search{
    padding-left: 0;
    padding-right: 0;
}
.select2-search input{
    border: 1px solid #35aa47!important;
}
.patient-info{
    border: 1px solid #DDD09E;
}
.form-horizontal .patient-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .patient-info .control-label{
    float: left;
    text-align: left;
    background: #E7DFBF;
    color: #000;
    line-height:20px;
    height: 25px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}

.referred-info{
    border: 1px solid #D7EAE5;
}
.form-horizontal .referred-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .referred-info .control-label{
    float: left;
    text-align: left;
    background: #F1F9F7;
    color: #000;
    line-height:20px;
    height: 25px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}


.form-horizontal #payment-info .control-group{
    margin-bottom: 0!important;
    border-bottom: 2px solid #000;
}
.form-horizontal #payment-info .control-label{
    float: left;
    text-align: left;
    background: #d84a38;
    color: #fff;
    font-weight: bold;
    line-height: 32px;
    height: 33px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}

.form-horizontal .patient-info .control-label span ,  .form-horizontal .referred-info .control-label span ,.form-horizontal #payment-info .control-label span{
    padding-left: 8px;
}

.form-horizontal .controls{
    margin-left: 0;
}
.form-horizontal .controls input[class*="span"].m-wrap{
    border: 0!important;
}

input[class*="span"].m-wrap {
    height: 33px!important;
    background: #ffffff;
}

.resize-fix{
    resize: none!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}


#payment-info{
    border: 1px solid #222;
}

.select2-container .select2-choice {
    height: 30px!important;
}