.print-header .title-center{
    float: none!important;
    text-align: center;
    text-transform: uppercase;
}
.print-header .barcode-left{
    float: left;
    padding-left: 10px;
}
.print-header .barcode-right{
    float: right;
    padding-right: 10px;
}
.print-footer .left{
    margin-left: 30px;
}
.print-footer .center{
    text-align: center;
}
.print-footer .right{
    float: right;
    padding-right:30px;
}

.table thead tr th.text-right , .table-bordered tr td.text-right{
    text-align:right!important;
}
.text-center{
    text-align:center!important;
}

.span4 {
    width: 31.623931623931625%;
}
