{% extends '::report-base.html.twig' %}

{% block report_header %}
    <table class="style_15" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="AUTOGENBOOKMARK_2_82a4f0c7-b57f-40b5-974e-c7608a133d90">
        <colgroup><col style=" width: 100%;">
        </colgroup><tbody><tr valign="top">
            <td>
                <div class="style_16" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                <div class="style_17" id="AUTOGENBOOKMARK_3_e6f87220-df2a-4b91-aa02-53e3300828d4" style=" text-align:center;">জাতীয় রাজস্ব বোর্ড ,&nbsp; ঢাকা</div>
            </td>
        </tr>
        <tr class="style_18" valign="top">
            <td></td>
        </tr>
        </tbody>
    </table>
    <table class="style_19" style="border: 1px solid #000;border-bottom: none;margin-bottom: -3px; border-collapse: collapse; empty-cells: show; width: 100%;" id="AUTOGENBOOKMARK_4_970f4ef5-5bc3-430d-af3f-7e3b8deb52e1">
        <colgroup><col style=" width: 30%;">
            <col style=" width: 70%;">
        </colgroup><tbody><tr valign="top">
            <td colspan="2">
                <div class="style_20" id="AUTOGENBOOKMARK_5_df974a45-1dd3-4e43-ab3a-b809661c7123" style=" text-align:right;">মূসক - ৪.৩</div>
                <div class="style_21" id="AUTOGENBOOKMARK_6_5a52fa2a-a379-4478-97a0-c57f76516e07" style=" text-align:center;">উপকরণ-উৎপাদ সহগ (Input-Output Coefficient) ঘোষণা&nbsp;</div>
                <div class="style_21" id="AUTOGENBOOKMARK_7_b5fcd70f-7a68-440a-8021-795e69c1311a" style=" text-align:center;">(বিধি ২১ দ্রষ্টব্য)</div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_8_c084a3ac-d112-47d3-9310-7a24ec0b6d2b">১।প্রতিষ্ঠানের নামঃ</div>
            </td>
            <td>
                <div class="style_22" id="__bookmark_1">ABC Group Ltd.</div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_9_d4c1db81-0890-4798-82aa-3658d0f29718">২। ঠিকানাঃ</div>
            </td>
            <td>
                <div class="style_22" id="__bookmark_2">
                    <div style="visibility:hidden">Dhaka</div>
                </div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_10_48cf3dd4-27f4-40fa-89f4-3ab69feef0e4">৩। বিনঃ&nbsp;</div>
            </td>
            <td>
                <div class="style_22" id="__bookmark_3">ABC-111011</div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_11_8ffc90bb-e792-4ec1-a1ea-a6d8bb531fcd">৪। লাইসেন্সের তারিখঃ&nbsp;&nbsp;</div>
            </td>
            <td>
                <div class="style_22" id="__bookmark_4">123456</div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_12_faf3252d-7540-4ccc-801a-d8ea95bc859e">৫। ঘোষিত সহগ অনুযায়ী পন্য/সেবার প্রথম সরবরাহের তারিখঃ</div>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block report_body %}
    <div id="pdf-report-page">
        <table class="style_23 table" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="__bookmark_5">
            <colgroup><col style=" width: 5%;">
                <col style=" width: 8%;">
                <col style=" width: 10%;">
                <col style=" width: 5%;">
                <col style=" width: 15%;">
                <col style=" width: 8%;">
                <col style=" width: 8%;">
                <col style=" width: 8%;">
                <col style=" width: 6%;">
                <col style=" width: 15%;">
                <col style=" width: 7%;">
                <col style=" width: 5%;">
            </colgroup><tbody><tr class="style_5" valign="top" align="center">
                <th class="style_24" rowspan="2" align="left">
                    <div id="AUTOGENBOOKMARK_13_a7727f76-ab0c-457c-b784-32d54dc41350" style=" text-align:center;">ক্রমিক সংখ্যা</div>
                </th>
                <th class="style_24" rowspan="2" align="left">
                    <div id="AUTOGENBOOKMARK_14_164ed3fb-1216-4dac-98f8-0904ea281e58" style=" text-align:center;">পণ্যের এইচ এস কোড / সেবা কোড</div>
                </th>
                <th class="style_24" rowspan="2" align="left">
                    <div id="AUTOGENBOOKMARK_15_2dd6d639-4e9f-4a8a-856f-ec068a9ecf8a">পণ্যের নাম ও বিবরণ</div>
                </th>
                <th class="style_24" rowspan="2" align="left">
                    <div id="AUTOGENBOOKMARK_16_f5ff4e62-95ad-47f9-b204-d2161cd45065" style=" text-align:center;">সরবরাহের একক</div>
                </th>
                <th class="style_24" colspan="5" align="left">
                    <div id="AUTOGENBOOKMARK_17_8b13e378-1097-4d37-bdff-136b899a732f" style=" text-align:center;">একক পণ্য/সেবা সরবরাহে ব্যবহার্য যাবতীয় উপকরণের/কাঁচামালের এবং প্যাকিং সামগ্রীর বিবরণ, পরিমাণ ও ক্রয়মূল্য (উপকরনভিত্তিক অপচয়ের শতকরা হারসহ)&nbsp;</div>
                </th>
                <th class="style_24" colspan="2" align="left">
                    <div id="AUTOGENBOOKMARK_18_842bbb1b-9d41-438f-af98-a5f031ba8c17" style=" text-align:center;">মূল্য সংযোজনের বিবরণ</div>
                </th>
                <th class="style_24" rowspan="2" align="left">
                    <div id="AUTOGENBOOKMARK_19_cc22aca1-c190-4ce9-9123-b5fc46fc9659" style=" text-align:center;">মন্তব্য</div>
                </th>
            </tr>
            <tr class="style_5" valign="top" align="center">
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_20_bb9e4a22-a502-4f61-9580-6a86592db87e" style=" text-align:center;">বিবরণ</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_21_7ea0f8eb-a25b-4b6b-b822-17d1c959b8a5" style=" text-align:center;">অপচয়সহ পরিমাণ</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_22_1319cddb-f4d0-4bf9-8d0a-7b25a7ce0a22" style=" text-align:center;">মূল্য</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_23_a1b7d543-05e8-4bb4-b32c-7648ab274448" style=" text-align:center;">অপচয়ের পরিমাণ</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_24_717d48c7-b2cf-4544-9849-7c97e96ab15b" style=" text-align:center;">শতকরা হার</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_25_a2a3275e-b3a6-4acf-b08d-9c3dc567ef92" style=" text-align:center;">মূল্য সংযোজনের খাত</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_26_9ff2fb52-e321-426d-9e6a-bd145f6c00af" style=" text-align:center;">মূল্য</div>
                </th>
            </tr>
            <tr class="style_21" valign="top" align="center">
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_27_5df5b37f-fe59-4212-8e05-15a0d3ce9ee0" style=" text-align:center;">(১)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_28_8ac0215c-e6c5-4ba4-ad23-f5cb9f4cde70" style=" text-align:center;">(২)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_29_03cfc31f-a33f-4dd9-b5ed-44609582d833" style=" text-align:center;">(৩)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_30_904f4684-6266-40b2-a84b-022d3d814ec8" style=" text-align:center;">(৪)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_31_cefcde6e-4a1c-4df3-b704-91e71c2528bb" style=" text-align:center;">(৫)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_32_fd69d8ae-a957-4555-a624-5e3b87098fb7" style=" text-align:center;">(৬)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_33_2f654694-e4ed-4873-b449-c84463a3a2e4" style=" text-align:center;">(৭)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_34_e31ddefd-3d87-4067-86f9-754ee8668421" style=" text-align:center;">(৮)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_35_b1d959c3-5016-4aeb-a3f6-955c908a9df7" style=" text-align:center;">(৯)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_36_acad6a35-dd57-4152-9fcb-9785a30ddbb6" style=" text-align:center;">(১০)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_37_6dedb17a-41af-4aae-884a-b3a0cd7bffdf" style=" text-align:center;">(১১)</div>
                </th>
                <th class="style_24" align="left">
                    <div id="AUTOGENBOOKMARK_38_9e314955-4500-4ecd-92ff-d2d58d7de0e7" style=" text-align:center;">(১২)</div>
                </th>
            </tr>
            <tr class="style_25" valign="top" id="__TOC_0">
                <td class="style_26"></td>
                <td class="style_26">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_26">
                    <div>Pressure Cooker 2.5 ltr</div>
                </td>
                <td class="style_26">
                    <div>Unit</div>
                </td>
                <td class="style_26"></td>
                <td class="style_26"></td>
                <td class="style_26"></td>
                <td class="style_26"></td>
                <td class="style_26"></td>
                <td class="style_26"></td>
                <td class="style_26"></td>
                <td class="style_26"></td>
            </tr>
            <tr class="style_31" valign="top">
                <td class="style_32">
                    <div>1</div>
                </td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32">
                    <div>Body Handle</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১৪.৫৭</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">০.১০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১০.০০</div>
                    <div style="display: none;">10.00</div>
                </td>
                <td class="style_32">
                    <div>Profit</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">২৫০.০০</div>
                </td>
                <td class="style_32"></td>
            </tr>
            <tr class="style_31" valign="top">
                <td class="style_32">
                    <div>2</div>
                </td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32">
                    <div>Circle/Body 2.5</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">২৫০.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">০.১০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১০.০০</div>
                    <div style="display: none;">10.00</div>
                </td>
                <td class="style_32">
                    <div>Natural Gas (20%)</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">৪০.০০</div>
                </td>
                <td class="style_32"></td>
            </tr>
            <tr class="style_31" valign="top">
                <td class="style_32">
                    <div>3</div>
                </td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32">
                    <div>Safety valve with nut</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১০.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">০.১০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১০.০০</div>
                    <div style="display: none;">10.00</div>
                </td>
                <td class="style_32">
                    <div>Electricity / Power - Factory (20%)</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">৩০.০০</div>
                </td>
                <td class="style_32"></td>
            </tr>
            <tr class="style_31" valign="top">
                <td class="style_32">
                    <div>4</div>
                </td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32">
                    <div>Cover</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">৫০.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">০.১০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১০.০০</div>
                    <div style="display: none;">10.00</div>
                </td>
                <td class="style_32">
                    <div>Electricity Charges - Head Office</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১৪০.৪৩</div>
                </td>
                <td class="style_32"></td>
            </tr>
            <tr class="style_31" valign="top">
                <td class="style_32">
                    <div>5</div>
                </td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32">
                    <div>Packing Box</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">২০.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">০.১০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১০.০০</div>
                    <div style="display: none;">10.00</div>
                </td>
                <td class="style_32">
                    <div>Salary &amp; Allowances</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১০০.০০</div>
                </td>
                <td class="style_32"></td>
            </tr>
            <tr class="style_31" valign="top">
                <td class="style_32">
                    <div>6</div>
                </td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32">
                    <div>Sticker</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১৫.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">০.১০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১০.০০</div>
                    <div style="display: none;">10.00</div>
                </td>
                <td class="style_32">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                </td>
                <td class="style_32"></td>
            </tr>
            <tr class="style_31" valign="top">
                <td class="style_32">
                    <div>7</div>
                </td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32">
                    <div>Natural Gas (80%)</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১৬০.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                    <div style="display: none;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                </td>
                <td class="style_32"></td>
            </tr>
            <tr class="style_31" valign="top">
                <td class="style_32">
                    <div>8</div>
                </td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32"></td>
                <td class="style_32">
                    <div>Electricity / Power - Factory (80%)</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;">১২০.০০</div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                    <div style="display: none;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32">
                    <div style=" text-align:right;"></div>
                </td>
                <td class="style_32"></td>
            </tr>
            <tr class="style_27" valign="top">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div style=" text-align:right;">৬৩৯.৫৭</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div style=" text-align:right;">৫৬০.৪৩</div>
                </td>
                <td></td>
            </tr>
            </tbody></table>

    </div>
{% endblock %}

{% block report_footer %}
    <table class="style_15" style="margin-top: 25px; border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <h4 style="text-align:left; margin: 0;">বিশেষ দ্রষ্টব্য</h4>

                <p style="text-align:left; margin: 0;">১। যেকোনো পণ্য সরবরাহের নুন্যতম ১৫ দিন পূর্বে অনলাইনে মূসক কম্পিউটার সিস্টেমে বা সংশ্লিষ্ট বিভাগীয় কর্মকর্তার দপ্তরে উপকরণ উৎপাদ সহগ ঘোষণা দাখিল করিতে হইবে।</p>
                <p style="text-align:left; margin: 0;">২। পন্যমূল্য উপকরণ/কাঁচামাল বা&nbsp; মূল্য সংযোজনের খাতের পরিমাণ বা মূল্যে ৭.৫% এর বেশী পরিবর্তন হইলে নতুন ঘোষণা দাখিল করিতে হইবে।</p>
                <p style="text-align:left; margin: 0;">৩। পণ্য ক্রয়ের স্বপক্ষে প্রামাণিক দলিল হিসাবে বিল অব এন্ট্রি বা চালানপত্রের কপি সংযুক্ত করিতে হইবে।</p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
