{% extends '::report-base.html.twig' %}

{% block report_header %}
    <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <colgroup><col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;"></td>
        </tr>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার<br>জাতীয় রাজস্ব বোর্ড<br></div>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed; border: 1px solid #000;border-bottom: none;margin-bottom: -3px">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div style="text-align:right;"> মূসক-৬.২.১ </div>
            </td>
        </tr>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <h4 style="text-align:center; margin: 0;">প্রতিষ্ঠানের নাম, ঠিকানা ও ব্যবসা সনাক্তকরণ সংখ্যা</h4>
                <h4 style="text-align:center; margin: 0;">ক্রয়-বিক্রয় হিসাব</h4>
                <h4 style="text-align:center; margin: 0;">(পণ্য বা সেবা প্রক্রিয়াকরণে সম্পৃক্ত নয় (ব্যবসায়ী) এমন নিবন্ধিত বা তালিকাভুক্ত ব্যক্তির জন্য প্রযোজ্য)</h4>
                <h4 style="text-align:center; margin: 0 0 3px 0;">[বিধি ৪০ এর উপ-বিধি (১) এর দফা (খখ)ও ৪১(ক) দ্রষ্টব্য ]</h4>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block report_body %}
    <div id="pdf-report-page">
        <table class="style_16 table" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden;">

            <thead>

            <tr class="style_17" valign="top" align="center">
                <th class="style_18" colspan="26" style=" overflow:hidden;" align="center">পণ্য/সেবার বিক্রয়</th>
            </tr>
            <tr class="style_17" valign="top" align="center">
                <th class="style_18" rowspan="3" style=" overflow:hidden;" align="center">ক্রমিক সংখ্যা</th>
                <th class="style_18" rowspan="3" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_10_e32012bf-3552-43de-8560-f864078817e1" style=" text-align:center;">তারিখ</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_11_442c4889-7262-4392-b6a2-b9055332eaf9" style=" text-align:center;">বিক্রয়যোগ্য পণ্যের<br>প্রারম্ভিক জের</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_12_f38b7e24-ed93-4097-ad8d-75719bb39c98" style=" text-align:center;">ক্রয়</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_13_a168a69b-c06c-4d47-b0a5-4c3bc96509a9" style=" text-align:center;">মোট পণ্য</div>
                </th>
                <th class="style_18" colspan="3" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_14_d9b83094-baed-4ce5-b030-ee22bd04c834" style=" text-align:center;">বিক্রেতার তথ্য</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_15_70119117-676c-4cfc-96bb-1d3e7c3a5971" style=" text-align:center;">ক্রয় চালানপত্রের/বিল অব এন্ট্রির বিবরণ</div>
                </th>
                <th class="style_18" colspan="5" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_16_eb6e4fe2-6f31-4aeb-89b7-15acaa72e8bf" style=" text-align:center;">বিক্রিত/সরবরাহকৃত পণ্যের বিবরণ</div>
                </th>
                <th class="style_18" colspan="3" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_17_d9364d5e-14be-4ccd-a123-86208e3b0825" style=" text-align:center;">ক্রেতার তথ্য</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_18_4742b12b-29dd-4fae-974e-c0b0a3abdf61" style=" text-align:center;">বিক্রয় চালানপত্রের বিবরণ</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_19_4d539730-6df7-4187-93ab-4af0e19eaca6" style=" text-align:center;">পণ্যের প্রান্তিক<br>জের</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_20_d5a655d0-5a9f-4003-b994-8ef62333fa5c" style=" text-align:center;">মন্তব্য</div>
                </th>
            </tr>
            <tr class="style_17" valign="top" align="center">
                <th class="style_20" rowspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_21_cf535151-ec70-48ac-bed4-25c264ebea0f">পরিমাণ (একক)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_22_0dcec6fe-0809-408f-a4ed-5210f8938644" style=" text-align:center;">মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_23_c11fabf5-4669-4836-bbc7-4ce64577e9ed" style=" text-align:center;">পরিমাণ (একক)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_24_02768d50-6869-490f-adc6-a3f9979a280e" style=" text-align:center;">মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_25_afb97721-2960-4881-8880-1e8fa22ff149" style=" text-align:center;">পরিমাণ (একক)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_26_f1beefe2-5b34-48fb-a3bd-8e622102bed2" style=" text-align:center;">মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_27_2c1aeac5-cd00-4bf8-931b-4c303ad2b84b" style=" text-align:center;">নম্বর</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_28_b888d1da-f169-4377-b4dd-2cf729de133e" style=" text-align:center;">তারিখ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_29_1bd17e88-1232-4098-be64-65457ceacaca" style=" text-align:center;">বিবরণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_30_02425b71-efeb-4a63-bfea-275260a400ee" style=" text-align:center;">পরিমাণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_31_09cc3bb2-dc89-4070-8d4e-74bfe16c4fd6" style=" text-align:center;">করযোগ্য মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_32_d540fb4f-3101-47f1-9bad-66bf042a987c" style=" text-align:center;">সম্পূরক শুল্ক<br>(যদি থাকে)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_33_2cd0241c-16f0-44dd-82fb-c988c5cf44fd" style=" text-align:center;">মূসক</div>
                </th>
                <th class="style_18" colspan="3" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_34_41f23ceb-dbde-426b-92f9-78e0d63d6964" style=" text-align:center;">পরিমাণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_35_3a10bab9-75d8-4a76-95a3-174bb4f5f4f4" style=" text-align:center;">মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
            </tr>
            <tr class="style_17" valign="top" align="center">
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_36_c0d91807-a720-4874-bf9f-d8c68edfa410" style=" text-align:center;">নাম</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_37_d014ddf3-d887-4181-9a9c-9eec1ae21a5c" style=" text-align:center;">ঠিকানা</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_38_f6f4e37d-1ec4-47e4-9b3c-ba681ec426de" style=" text-align:center;">নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_39_2e8ef154-bbae-4b1a-8088-5b8fc35472b1" style=" text-align:center;">নাম</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_40_e794bac2-aada-4203-acbc-c5c0283722a8" style=" text-align:center;">ঠিকানা</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_41_29ea2a9e-b771-41bc-a056-aeba6d43e1ce" style=" text-align:center;">নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_42_c01a1381-ea65-4b85-b64c-b201b1cb915f" style=" text-align:center;">নম্বর</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_43_699a96a7-6bfc-4f69-8c12-372b2867c4f6" style=" text-align:center;">তারিখ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
                <th class="style_18" style=" overflow:hidden;" align="center"></th>
            </tr>
            <tr class="style_5" valign="top" align="center">
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_44_d9b3d656-590a-4cc3-970f-c896c24879da" style=" text-align:center;">(১)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_45_58a2a303-bca9-4faa-98b1-f4c4e0552138" style=" text-align:center;">(২)</div>
                </th>
                <th class="style_20" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_46_bae6c75c-78fe-41f6-9d67-07a53ce6da25" style=" text-align:center;">(৩)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_47_a088577e-36c7-4ddc-91bf-14ccaa00ab79">(৪)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_48_4eca5900-ec23-4a74-b3ce-be5da0818d50" style=" text-align:center;">(৫)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_49_9781b97c-6b2a-4ce2-8662-e834df4f496a" style=" text-align:center;">(৬)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_50_e0cac803-bdc7-4e97-80b9-50c9cc691229" style=" text-align:center;">(৭)=(৩+৫)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_51_bbbbef4f-a306-4399-b4a8-01fd793fa725" style=" text-align:center;">(৮)=(৪+৬)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_52_95d1783a-0e5c-4d27-aee8-1d5db0fac3d5" style=" text-align:center;">(৯)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_53_078bf654-79e6-4110-91e4-ced9315cdf39" style=" text-align:center;">(১০)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_54_f0e59e2b-dbe2-49c9-94fd-1791c1b1d44d">(১১)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_55_0f0085ad-37ab-449f-a1df-59d6fa1cd2a4">(১২)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_56_93255428-5169-4c0e-b3c6-64ce00de5056" style=" text-align:center;">(১৩)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_57_85737f59-2328-4ec7-afd9-169877156d5c" style=" text-align:center;">(১৪)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_58_779ae941-370a-4900-a8ae-3ae3da34a0c2" style=" text-align:center;">(১৫)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_59_722350df-2b33-497a-8e60-4f814d0171ce" style=" text-align:center;">(১৬)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_60_bc683396-e547-4d4c-8938-8355f69ce9fd" style=" text-align:center;">(১৭)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_61_ada3fe76-9fd1-4e99-bb34-b3e135ef652d" style=" text-align:center;">(১৮)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_62_c4de65d4-3fe4-46f0-8150-8eb085179d38" style=" text-align:center;">(১৯)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_63_3ecfe675-56e3-4ee3-b8ad-3bba0d415904" style=" text-align:center;">(২০)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_64_2ba1e5f2-7a0f-4857-9290-b6fe7cdfc86d" style=" text-align:center;">(২১)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_65_f11157df-9532-434d-b9bc-a463133cea3d" style=" text-align:center;">(২২)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_66_1e45bbc9-0371-4057-ab57-855b3d81e719" style=" text-align:center;">(২৩)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_67_a836e894-3c53-49bc-924f-026cae98aa5c" style=" text-align:center;">(২৪)=(৭-১৫)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_68_3b3673de-37e5-4326-b205-3273295f8345" style=" text-align:center;">(২৫)=(৮-১৬)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_69_1d55901b-b687-40e8-a5de-86e99d42a6db" style=" text-align:center;">(২৬)</div>
                </th>
            </tr>

            </thead>
            <tbody>
            <tr class="style_21" valign="top" id="__TOC_0">
                <td colspan="26" style=" overflow:hidden;">
                    <div class="style_22">Body Handle</div>
                </td>
            </tr>
            <tr class="style_30" valign="top">
                <td class="style_31" style=" overflow:hidden;">
                    <div>1</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>2019-08-01</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">80.00</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">1,165.60</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">80.00</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">1,165.60</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">80.00</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">1,165.60</div>
                </td>
                <td class="style_45" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
            </tr>
            <tr class="style_30" valign="top">
                <td class="style_31" style=" overflow:hidden;">
                    <div>2</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>2019-08-18</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">80.00</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">1,165.60</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">10.00</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">145.70</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">90.00</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">1,311.30</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>Amin Enterprise</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>House: 34, Road: 10, Section: 13,&nbsp;<br>Thana: Uttara, P.O. Uttara Model TwonTSO,&nbsp;<br>Dhaka-1231,&nbsp;<br>Division: Dhaka, Bangladesh.</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>135792468</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>PI-1005</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>2019-08-18</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">90.00</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">1,311.30</div>
                </td>
                <td class="style_45" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
            </tr>
            <tr class="style_23" valign="top">
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;">
                    <div class="style_24" style=" text-align:right;">110.00</div>
                </td>
                <td style=" overflow:hidden;">
                    <div class="style_25" style=" text-align:right;">1,602.70</div>
                </td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;">
                    <div class="style_26" style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td style=" overflow:hidden;">
                    <div class="style_27" style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td style=" overflow:hidden;">
                    <div class="style_28" style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td style=" overflow:hidden;">
                    <div class="style_29" style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
                <td style=" overflow:hidden;"></td>
            </tr>
            <tr class="style_21" valign="top">
                <td colspan="26" style=" overflow:hidden;">
                    <div class="style_22">Cartoon Sealer/Tape</div>
                </td>
            </tr>
            <tr class="style_30" valign="top">
                <td class="style_31" style=" overflow:hidden;">
                    <div>4</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>2019-08-01</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">100.00</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">4,500.00</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">100.00</div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">4,500.00</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
                <td class="style_32" style=" overflow:hidden;">
                    <div style=" text-align:right;">100.00</div>
                </td>
                <td class="style_31" style=" overflow:hidden;">
                    <div style=" text-align:right;">4,500.00</div>
                </td>
                <td class="style_45" style=" overflow:hidden;">
                    <div>
                        <div style="visibility:hidden">&nbsp;</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block report_footer %}
    <table class="style_15" style="margin-top: 25px; border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style="overflow:hidden;">
                <h4 style="text-align:left; margin: 0;">বিশেষ দ্রষ্টব্য</h4>
                <p style="text-align:left; margin: 0;">১। যে ক্ষেত্রে অনিবন্ধিত ব্যক্তির নিকট হইতে পণ্য ক্রয় করা হইবে সেই ক্ষেত্রে উক্ত ব্যক্তির পূর্ণাঙ্গ নাম, ঠিকানা ও জাতীয় পরিচয়পত্র নম্বর যথাযথভাবে সংশ্লিষ্ট কলাম [(৭), (৮) ও (৯)] এ আবশ্যিকভাবে উল্লেখ করিতে হইবে। </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
