{% extends '::report-base.html.twig' %}

{% block report_header %}
    <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_2_8d8e9d89-1f13-4009-9cc1-c6b3665021db">
        <colgroup><col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;"></td>
        </tr>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার<br>জাতীয় রাজস্ব বোর্ড<br></div>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed; border: 1px solid #000;border-bottom: none;margin-bottom: -3px">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div style="text-align:right;">মূসক-৬.২</div>
            </td>
        </tr>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <h4 style="text-align:center; margin: 0;">প্রতিষ্ঠানের নাম, ঠিকানা ও ব্যবসা সনাক্তকরণ সংখ্যা</h4>
                <h4 style="text-align:center; margin: 0;">বিক্রয় হিসাব পুস্তক</h4>
                <h4 style="text-align:center; margin: 0;">(পণ্য বা সেবা প্রক্রিয়াকরণে সম্পৃক্ত এমন নিবন্ধিত বা তালিকাভুক্ত ব্যক্তির জন্য প্রযোজ্য)</h4>
                <h4 style="text-align:center; margin: 0 0 3px 0;">[বিধি ৪০ এর উপ-বিধি(১) এবং বিধি ৪১ এর দফা (ক) দ্রষ্টব্য]</h4>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block report_body %}
    <div id="pdf-report-page">
        <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_1_40140c59-5c2c-4ad5-a2c4-ae18fadb96f4">
            <colgroup><col>
            </colgroup><tbody><tr valign="top">
                <td class="style_14" style=" overflow:hidden;">

                    <table class="style_16 table" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_1">
                        <colgroup>
                            <col style=" width: 3%;">
                            <col style=" width: 4%;">
                            <col style=" width: 4%;">
                            <col style=" width: 7%;">
                            <col style=" width: 4%;">
                            <col style=" width: 6%;">
                            <col style=" width: 6%;">
                            <col style=" width: 5%;">
                            <col style=" width: 8%;">
                            <col style=" width: 5%;">
                            <col style=" width: 4%;">
                            <col style=" width: 10%;">
                            <col style=" width: 4%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 4%;">
                            <col style=" width: 7%;">
                            <col style=" width: 3%;">
                        </colgroup>
                        <tbody>
                        <tr class="style_17" valign="top" align="center">
                            <th colspan="19" style=" overflow:hidden;" align="center">পণ্য/সেবার বিক্রয়</th>
                        </tr>
                        <tr class="style_17" valign="top" align="center">
                            <th rowspan="2" style=" overflow:hidden;" align="center">ক্রমিক সংখ্যা</th>
                            <th rowspan="2" style=" overflow:hidden;" align="center">তারিখ</th>
                            <th colspan="2" style=" overflow:hidden;" align="center">উৎপাদিত পণ্যের<br>প্রারম্ভিক জের</th>
                            <th colspan="2" style=" overflow:hidden;" align="center">উৎপাদন</th>
                            <th colspan="3" style=" overflow:hidden;" align="center">ক্রেতা/ সরবরাহ গ্রহীতা</th>
                            <th colspan="2" style=" overflow:hidden;" align="center">চালানপত্রের বিবরণ</th>
                            <th colspan="5" style=" overflow:hidden;" align="center">বিক্রিত সরবরাহকৃত পণ্যের বিবরণ</th>
                            <th colspan="2" style=" overflow:hidden;" align="center">পণ্যের প্রান্তিক জের</th>
                            <th rowspan="2" style=" overflow:hidden;" align="center">মন্তব্য</th>
                        </tr>
                        <tr class="style_17" valign="top" align="center">
                            <th class="style_20" style=" overflow:hidden;" align="center">
                                পরিমাণ
                            </th>
                            <th style=" overflow:hidden;" align="center">
                                মূল্য
                            </th>
                            <th style=" overflow:hidden;" align="center">পরিমাণ</th>
                            <th style=" overflow:hidden;" align="center">মূল্য</th>
                            <th style=" overflow:hidden;" align="center">নাম</th>
                            <th style=" overflow:hidden;" align="center">ঠিকানা</th>
                            <th style=" overflow:hidden;" align="center">নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং</th>
                            <th style=" overflow:hidden;" align="center">নম্বর</th>
                            <th style=" overflow:hidden;" align="center">তারিখ<br>ও<br>সময়</th>
                            <th style=" overflow:hidden;" align="center">বিবরণ</th>
                            <th style=" overflow:hidden;" align="center">পরিমাণ</th>
                            <th style=" overflow:hidden;" align="center">করযোগ্য মূল্য</th>
                            <th style=" overflow:hidden;" align="center">সম্পূরক শুল্ক<br>(যদি থাকে)</th>
                            <th style=" overflow:hidden;" align="center">মূসক</th>
                            <th style=" overflow:hidden;" align="center">পরিমাণ</th>
                            <th style=" overflow:hidden;" align="center">মূল্য</th>
                        </tr>
                        <tr class="style_5" valign="top" align="center">
                            <th style=" overflow:hidden;" align="center">(১)</th>
                            <th style=" overflow:hidden;" align="center">(২)</th>
                            <th style=" overflow:hidden;" align="center">(৩)</th>
                            <th style=" overflow:hidden;" align="center">(৪)</th>
                            <th style=" overflow:hidden;" align="center">(৫)</th>
                            <th style=" overflow:hidden;" align="center">(৬)</th>
                            <th style=" overflow:hidden;" align="center">(৭)</th>
                            <th style=" overflow:hidden;" align="center">(৮)</th>
                            <th style=" overflow:hidden;" align="center">(৯)</th>
                            <th style=" overflow:hidden;" align="center">(১০)</th>
                            <th style=" overflow:hidden;" align="center">(১১)</th>
                            <th style=" overflow:hidden;" align="center">(১২)</th>
                            <th style=" overflow:hidden;" align="center">(১৩)</th>
                            <th style=" overflow:hidden;" align="center">(১৪)</th>
                            <th style=" overflow:hidden;" align="center">(১৫)</th>
                            <th style=" overflow:hidden;" align="center">(১৬)</th>
                            <th style=" overflow:hidden;" align="center">(১৭)</th>
                            <th style=" overflow:hidden;" align="center">(১৮)</th>
                            <th style="overflow:hidden;" align="center">(১৯)</th>
                        </tr>
                        <tr class="style_21" valign="top">
                            <td colspan="19" style=" overflow:hidden;">
                                Pressure Cooker 2.5 ltr
                            </td>
                        </tr>
                        <tr valign="top">
                            <td class="style_35" style=" overflow:hidden;">
                                <div>1</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:center;">2019-07-01</div>
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                <div style=" text-align:right;">০.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div id="__bookmark_10">
                                    <div style="visibility:hidden">&nbsp;</div>
                                </div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:center;"></div>
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                Pressure Cooker 2.5 ltr
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                <span>০.০০</span>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">

                            </td>
                        </tr>
                        <tr valign="top">
                            <td class="style_35" style=" overflow:hidden;">
                                <div>2</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:center;">2019-07-07</div>
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                <div style=" text-align:right;">০.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">১০.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">১২,০০০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div id="__bookmark_24">
                                    <div style="visibility:hidden">&nbsp;</div>
                                </div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div id="__bookmark_25">
                                    <div style="visibility:hidden">&nbsp;</div>
                                </div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div id="__bookmark_26">
                                    <div style="visibility:hidden">&nbsp;</div>
                                </div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div id="__bookmark_27">PROD-DEL-1001</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:center;">2019-07-07</div>
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                Pressure Cooker 2.5 ltr
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                <span>০.০০</span>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">১০.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">১২,০০০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                            </td>
                        </tr>
                        <tr valign="top">
                            <td class="style_35" style=" overflow:hidden;">
                                <div>3</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:center;">2019-07-07</div>
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                <div style=" text-align:right;">১০.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">১২,০০০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                Consumer Enterprise
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                123456789012
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div id="__bookmark_44">SO-1001</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:center;">2019-07-07</div>
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                Pressure Cooker 2.5 ltr
                            </td>
                            <td class="style_37" style=" overflow:hidden;" align="left">
                                <span>৫.০০</span>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">৬,০০০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">৯০০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">৫.০০</div>
                                <span>unit</span>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                                <div style=" text-align:right;">৬,০০০.০০</div>
                            </td>
                            <td class="style_35" style=" overflow:hidden;">
                            </td>
                        </tr>
                        <tr class="style_22" valign="top">
                            <td class="style_23" colspan="2" style=" overflow:hidden;" align="center">মোট</td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">১০.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">১২,০০০.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;"></td>
                            <td class="style_23" style=" overflow:hidden;"></td>
                            <td class="style_23" style=" overflow:hidden;"></td>
                            <td class="style_23" style=" overflow:hidden;"></td>
                            <td class="style_23" style=" overflow:hidden;"></td>
                            <td class="style_23" style=" overflow:hidden;"></td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">৫.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">৬,০০০.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">০.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">৯০০.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;">
                                <div style=" text-align:right;">৫.০০</div>
                            </td>
                            <td class="style_23" style="overflow:hidden;">
                                <div style=" text-align:right;">৬,০০০.০০</div>
                            </td>
                            <td class="style_23" style=" overflow:hidden;"></td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            </tbody></table>
    </div>
{% endblock %}

{% block report_footer %}
    <table class="style_15" style="margin-top: 25px; border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style="overflow:hidden;">
                <h4 style="text-align:left; margin: 0;">বিশেষ দ্রষ্টব্য</h4>
                <p style="text-align:left; margin: 0;">১। যে ক্ষেত্রে অনিবন্ধিত ব্যক্তির নিকট হইতে পণ্য ক্রয় করা হইবে সেই ক্ষেত্রে উক্ত ব্যক্তির পূর্ণাঙ্গ নাম, ঠিকানা ও জাতীয় পরিচয়পত্র নম্বর যথাযথভাবে সংশ্লিষ্ট কলাম [(৭), (৮) ও (৯)] এ আবশ্যিকভাবে উল্লেখ করিতে হইবে। </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
