{% extends ':frontend/template:base.html.twig' %}
{% block body %}
    <!-- Header Carousel -->
    {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
        <section class="section-white top-nav-margin" >
            {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id,'position':'Header'}) %}
        </section>
    {% endif %}

{#    {% if globalOption.ecommerceConfig.templates is not empty %}
        <section class="section-divide" id="dashboard">
            <div class="container">
                <div class="row">
                    {% render controller("FrontendBundle:EcommerceWidget:homeTopWidget",{'globalOption':globalOption.id,'position':'top'}) %}
                </div>
            </div>
        </section>
    {% endif %}#}
    <section class="section-divide">
        <div class="container">
            <div class="header-double-line-right">
                <h3>About Us</h3>
            </div>
            <div class="row">
                <div class="row">
                    {% render controller("FrontendBundle:TemplateWidget:aboutus",{'globalOption':globalOption.id,'wordlimit':400}) %}
                </div>
            </div>
        </div>
    </section>
    <!-- Page Content -->
    {% for mod in  homeEntity.pageModules %}
            {% if globalOption.siteSetting.modules.contains(mod.module) %}
                {% render controller("FrontendBundle:TemplateWidget:moduleBaseContent",{'globalOption':globalOption.id,'pageModule':mod.id}) %}
            {% endif %}

  {#      {% include 'FrontendBundle:Template/Desktop/Widget:'~ mod.module.moduleClass ~'.html.twig' with {'module':mod.module , 'title' : mod.name ,'limit': 5,'cloumn': 2 } %}
#}
    {% endfor %}

{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    commonJs();

    var owlMain = $("#main-slider");
        owlMain.owlCarousel({
        items:1,
        animateOut: 'fadeOut',
        itemsDesktop:[1199,1],
        itemsDesktopSmall:[979,2],
        itemsTablet:[768,1],
        pagination: true,
        paginationNumbers: true,
        autoPlay:false,
        rewindNav:false
   });


    var owlCategory = $("#category-slider");
    owlCategory.owlCarousel({
    items:4,
    itemsDesktop:[1199,3],
    itemsDesktopSmall:[979,2],
    itemsTablet:[768,1],
    pagination: false,
    paginationNumbers: false,
    autoPlay:false,
    rewindNav:false
    });
    // Custom Navigation Events
    $(".next").click(function(){
    owlCategory.trigger('owl.next');
    })

    $(".prev").click(function(){
    owlCategory.trigger('owl.prev');
    })

    var owlPromotion = $("#promotion-slider");
    owlPromotion.owlCarousel({
    items:4,
    itemsDesktop:[1199,3],
    itemsDesktopSmall:[979,2],
    itemsTablet:[768,1],
    pagination: false,
    paginationNumbers: false,
    autoPlay:false,
    rewindNav:false
    });
    // Custom Navigation Events
    $(".nextProotion").click(function(){
    owlPromotion.trigger('owl.next');
    })

    $(".prevPromotion").click(function(){
    owlPromotion.trigger('owl.prev');
    })


{% endblock %}









