{% extends '::print.html.twig' %}
{% block body %}
<div style="margin-left:{{ printLeftMargin }}px;margin-top:{{ printTopMargin }}px">
    {% for barcode in barCoder %}
        {{ barcode|raw }}
    {% endfor %}
</div>
{% endblock %}