{% extends '::print.html.twig' %}
{% block body %}
<div style="margin-left:{{ printLeftMargin }};margin-top:{{ printToptMargin }} ">
    {% for barcode in barCoder %}
        {{ barcode|raw }}
    {% endfor %}
</div>
{% endblock %}