{% extends '::print.html.twig' %}
{% block body %}
    <script type="text/javascript">
    window.print();
    setTimeout(function () {
        window.open('', '_self', '');
        window.close();
    }, 2000);
</script>
<style>
    .grid-print {
        width: 100%;
        display: grid;
        grid-gap: 0;

    }
    .grid-print {
        grid-template-columns: repeat({{ config.barcodePerRow }}, calc(100%/{{ config.barcodePerRow }}));
    }
    .item {
        border: 1px solid rgba(215, 214, 214, 0.71);
    }
</style>
<div class="grid-print">
    {% for barcode in barCoder %}
        <div class="item">{{ barcode|raw }}</div>
    {% endfor %}
</div>
{% endblock %}