{% extends '::print.html.twig' %}
{% block body %}
<div style="margin-left:{{ barcodePageLeftMargin }}px;margin-top:{{ barcodePageTopMargin }}px">
    {% for barcode in barCoder %}
        {{ barcode|raw }}
    {% endfor %}
</div>
{% endblock %}