
.contentWrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.tabsWrapper {
    width: 100%;
    height: 90px;
    overflow: hidden;
    position: relative;
    margin-left: 30px;
}
.table-tab{
    margin-right: 36px!important;
}
.tabs {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: -25px;
    left: 60px;
    right: 0;
    white-space: nowrap;
    overflow: auto;
}
.tabs li {
    display: inline-block;
    background-color:#33b8e5;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    min-width: 80px;
    text-align: center;
}
.table-tab li.active {
    background-color:#4cae4c;
}
.next, .previous {
    position: absolute;
    padding: 27px 30px;
    top: 0;
    background-color: #c49f47;
    font-size: 30px;
    color: #ffffff;
}
.next {
    right: 0px;
}
.previous {
    left: 0px;
}
.group-label{
    font-weight: bold;
    border-bottom: 1px solid #337ab7
}
.bar-tabs>li{
    float: left;
    list-style: none;
}
.bar-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    width: 150px
}

.bar-tabs>.active>a, .bar-tabs>.active>a:hover, .bar-tabs>.active>a:focus {
    color: #ffffff !important;
    cursor: default;
    background-color: #c49f47;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li{
    width: 100%;
}
.nav-tabs>li>a {
    line-height: 32px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px #ddddff solid;
    color: #ffffff!important;
}


.nav-tabs>.active>a, .nav-tabs>li>a:hover, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #ffffff !important;
    cursor: hand!important;
    background-color: #c49f47;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-size: 24px;
}

.select2-container .select2-choice {
    height: 35px!important;
    z-index: 99999!important;
}

.table-tab .process{
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Created{
    background: #333333;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .New{
    background: #5f39d7;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Kitchen{
    background:#6a621d;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Hold{
    background: #ff2515;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Payment{
    background: #248034;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Reserved{
    background: #248034;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Delivered , .table-tab .Done{
    background: #248034;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.sales-right {
    width: 50%;
}

input[type="text"].inline-m-wrap {
    width: 30px;
    font-size: 12px;
    border: 1px solid #c49f47;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    height: 11px;
}

div.checker {
    border: 3px solid #c49f47;
    margin-top: 2px;
    margin-bottom: 3px;
}

input[class*="span"].m-wrap-bg{
    height: 50px!important;
    background: #ffffff;
    font-size: 30px;
}

input.m-wrap , select.m-wrap , textarea.m-wrap{
    border: 2px solid #1e7b85!important;
}
table.table {
    clear: both;
    margin-bottom: 0 !important;
    max-width: none !important;
    font-size: 11px;
}

.table th, .table td{
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

select.m-wrap{
    height: 30px!important;
}

.product-content{
    width: 33%;
    margin-bottom: 13px;
    text-align: center;
    float: left;
    font-size: 12px!important;
    cursor: pointer;
}
.payment-info{
    border: transparent;
}
.form-horizontal .payment-info .control-group {
    margin-bottom: 0!important;
    border-bottom:transparent;
}

.sales-right input[class*="span"].payment, .sales-right input[class*="span"].discount, .sales-right input[class*="span"].discountCoupon{
    border: 1px solid #1e7b85!important;
    font-size: 15px;
}

.sales-right input[class*="span"].payment{
    border: 2px solid #ff2515 !important;
    font-size: 20px;
    height: 42px!important;
}

.bankHide , .mobileBankHide , .customer{
    display: none;
}
.all-product-box{
    overflow-y: scroll;

}
.label-custom {
    width: 150px;
}
.accordion-container {
    position: relative;
    width: 100%;
    border: 1px solid #0079c1;
    border-top: none;
    outline: 0;
    cursor: pointer
}

.accordion-container .accordion-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    background: #000;
    cursor: pointer;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
    background-color: #00aaa7;
    color: white;
}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
    color: white;
}
.accordion-container .accordion-title {
    background: #00584F;
    cursor: pointer;
    border-top: 1px solid #fff;
    padding: 0.625em 0.625em 0.625em 8px;
}
.accordion-title{
    position: relative;
}

.accordion-title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
}
.table-list{
    width: 33%;
    float: left;
    line-height: 20px;
    display: flex;
}
.table-list .checkbox{
    width: 24px;
    float: left;
    display: flex;
}
.table-list span{
    padding-left: 3px;
}

.user-list{
    width: 50%;
    float: left;
    line-height: 20px;
    display: flex;
}
.user-list .checkbox{
    width: 24px;
    float: left;
    display: flex;
}
.user-list span{
    padding-left: 3px;
}

.table th.product-title {
    font-size: 16px;
    font-weight: bold;
    height: 36px;
}

.table td.product-title {
    font-size: 14px;
    font-weight: bold;
    color: #FF0509;
}

.table td .checkbox{
    width: 24px;
}

.accordion-content {
    display: none;
    padding:15px;
}

/* CSS for CodePen */
.accordion-container {
    margin-bottom:7px;
}
#restaurant_invoice_payment{
    width: 35%;
    height: 46px !important;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.process-payment{
    display: none;
}

.receiveBtn{
    width: 49%!important;
}

.switch-field {
    display: flex;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color:#444d58;
    color:#ffffff;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    width: calc(100% /4);
    font-weight: bold;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #724c82;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.switch-method {
    display: flex;
}

.switch-method input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-method label {
    background-color: #444d58;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    width: calc(100% /4);
    color: #ffffff;
    font-weight: bold;
}

.switch-method label:hover {
    cursor: pointer;
}

.switch-method input:checked + label {
    background-color: #337ab7;
    box-shadow: none;
}

.switch-method label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-method label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: #FF0509;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.cal-button {
    width: calc(100% /10)!important;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    background: #ecedef;
    border: 1px solid #333333;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;

}

.cal-button-lg {
    width: calc(100% /5)!important;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    background:#724c82;
    border: 1px solid #333333;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;

}

.red {
    background: #FF0509 !important;
    color: #ffffff !important;

}


