    <div class="content">
        <div class="container">
            <h1>Notice Boards</h1>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul id="newsFeed">
                                        {% for  row in entity.noticeBoards %}
                                            <li><div class="one-responsive">
                                                    <div class="big-notification dark-notification">
                                                        <h4>{{ row.name }} <br/><em>{{ row.created|date('F j, Y') }}</em></h4>
                                                        <p>{{ row.content|raw }}</p>
                                                    </div>
                                                </div></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer"> </div>

                    </div>
                </div>
                <div class="decoration"></div>
        </div>
    </div>
