<form class="bs-example" action="{{ path('webservice_product',{'subdomain':globalOption.subDomain}) }}"  method="get" data-example-id="input-group-segmented-buttons">
    <div class="col-lg-12">
        <div class="input-group input-group-lg">
            <span class="input-group-btn">{{ categoryTree|raw }}</span>
            <input type='text' class='form-control span6' name="product" id="product" value="{% if searchForm.product is defined %}{{ searchForm.product }}{% endif %}"  placeholder="Search for items"/>
            <span class="input-group-btn"><button class="btn btn-success" type="button"><i class="fa fa-search" aria-hidden="true"></i></button></span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</form>
<style>
    .input-group-btn button{
        border-radius: 0 !important;
    }
    .input-group-lg>.form-control, .input-group-lg>.input-group-addon{
        font-size: 15px;
        color: #777!important;
    }

</style>