<div class="" id="mobile-footer">
    <ul class="social-networks">

        <li>
            <a href="tel:+88 01828148148" data-title="">
                <i class="fa fa-phone"></i>
            </a>
        </li>
        <li>
            <a  href="#sms-modal" class="globalOption"  id="1" data-title="">
                <i class="fa fa-comment"></i>
            </a>
        </li>
        <li>
            <a  href="javascript:" class="scrollToTop" data-title="Top up">
                <i class="fa fa-hand-o-up"></i>
            </a>
        </li>
        <li>
            <a  href="#email-modal" class="globalOption" id="1" data-title="">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
        <li>
            <a class="last" href="{{ path('bindu_contact') }}" data-title="">
                <i class="fa fa-map-marker"></i>
            </a>
        </li>
    </ul>
</div>

