{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->

        <!-- END PAGE HEADER-->
        <div id="dashboard">
             <div class="row-fluid pull-center" >
                <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                    <div class="dashboard-stat green">
                        <a class="visual" href="{{ path('inventory_item') }}">
                            <i class="icon-archive"></i>
                        </a>
                        <a class="more" href="{{ path('inventory_item') }}">
                            Inventory <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                 <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                     <div class="dashboard-stat green">
                         <a class="visual" href="{{ path('inventory_item') }}">
                             <i class="icon-shopping-cart"></i>
                         </a>
                         <a class="more" href="{{ path('inventory_item') }}">
                             Inventory <i class="m-icon-swapright m-icon-white"></i>
                         </a>
                     </div>
                 </div>
            </div>
        </div>
    </div>
<style>
    .dashboard-stat .visual{
        width: auto;
        float: none;
        padding:0;
        padding-top: 15px;
        padding-bottom: 15px;

    }
    .dashboard-stat .visual:hover{
        text-decoration: none;
    }
    .dashboard-stat .more {
        clear: both;
        display: block;
        padding: 5px 10px 5px 10px;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
        opacity:1;
        font-weight: bold;
    }
</style>
{% endblock %}

