<div class="row">
<form class="bs-example" action="{{ path(globalOption.subDomain ~ '_webservice_product_filter') }}"  method="get">

    {% if globalOption.ecommerceConfig.searchCategory == 1 %}
    <div class="input-group col-xs-12 col-md-12">
        <select name='category' id='category' class='input-selector item-select col-xs-12 col-md-12' onchange='this.form.submit()'>
            <option value=''>Filter by Category</option>
            {{ categoryTree|raw }}
        </select>
    </div>
    {% endif %}

</form>
    <div class="clearfix"></div>
</div>

<style>
    #accordion .panel-title a{
        font-weight: normal !important;
    }
    .input-group{
        margin-bottom: 0!important;
    }
    #priceStart , #priceEnd{
        height:30px!important;
        border-radius:0;
        border: 1px solid #d2d2d2;

    }
    #accordion .panel-body{
        background: #FFFFff!important;
    }
    #productFilter , #uploadPrescription{
        display:none;
    }
    .btn-warning{
        background: #ff6a00;
        color: #ffffff!important;
    }
    .dropzone-upload{
        border-radius: 0px;
        background-color: #535b5c!important;
    }
    .dropzone-mobile{
        z-index: 999!important;
    }
    .dropzone-mobile span{
        z-index: 999!important;
    }

</style>