<!--tm-page-body-->
<div id="tm-page-footer">
    <div class="tm-sidebar-footer">
        <div class="tm-wrap">
            <div class="tm-sidebar-footer-inner">
                <div class="tm-column tm3">
                    <aside class="widget widget_text">
                        <div class="textwidget" style="text-align:justify">
                            <img alt="img" src="{{ asset('assets/frontend/img/logo.png') }}" width="139" height="24">
                            {% render controller("FrontendBundle:Widget:aboutFooter") %}
                        </div>
                    </aside>
                </div>


                <div class="tm-column tm3">
                    <aside class="widget tm-list-style1">
                        <h3 class="tm-title">About Us</h3>
                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Sales & Service</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Terms & Condition</a></li>
                            <li><a href="">Copyright Notice</a></li>
                            <li><a href="">Policy</a></li>
                            <li><a href="">Youtube Chanel</a></li>
                        </ul>
                        {#              {{ knp_menu_render('SettingAppearanceBundle:Builder:footerMenu', {'template':'SettingAppearanceBundle:Menu:simple-menu.html.twig','currentClass': 'active'}) }}
                        #}
                    </aside>
                </div>
                <div class="tm-column tm3">
                    <aside class="widget tm-list-style1">
                        <h3 class="tm-title">Business Promotion</h3>
                        <ul>
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Project Proposal</a></li>
                            <li><a href="">SMS Marketing</a></li>
                            <li><a href="">Email Marketing</a></li>
                            <li><a href="">Google Advertising</a></li>
                            <li><a href="">Facebook Marketing</a></li>
                            <li><a href="">Youtube Marketing</a></li>
                        </ul>
                        {#              {{ knp_menu_render('SettingAppearanceBundle:Builder:footerMenu', {'template':'SettingAppearanceBundle:Menu:simple-menu.html.twig','currentClass': 'active'}) }}
                        #}          </aside>
                </div>
                <div class="tm-column tm3">
                    <aside class="widget widget_tag_cloud">
                        <h3 class="tm-title">Contact Us</h3>
                        <div>
                            <address class="margin-bottom-40">
                                27/3 (1st Floor), Central Road<br>
                                Dhanmondi,Dhaka-1205<br>
                                Bangladesh<br>
                                Phone: +88 01828 148 148<br>
                                Email: <a href="mailto:info@terminalbd.com">info@terminalbd.com</a><br>
                                Facebook: <a href="https://facebook.com/terminalbd">terminalbd</a>

                            </address>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>
</div>
<!--tm-page-page-footer-->
<footer>
    <div class="tm-wrap tm-table">
        <div class="copyright">
            <p>© Copyright - www.terminalbd.com</p>
        </div>
        <div class="tm-social-icons">
            <a class="tm-icon-facebook" href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="tm-icon-twitter" href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="tm-icon-dribbble" href="#">
                <i class="fa fa-dribbble"></i>
            </a>
        </div>
    </div>
</footer>
<!-- Go to top -->
<a href="#" id="tm-gotop">
    <i class="fa fa-hand-o-up"></i>
</a>
