<style>
    .footer-menu-list ul , .footer-menu-list ul li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .footer-menu-list ul li{
        line-height: 25px;

    }
</style>
<div class="footer-menu-list">
{{ footerMenu|raw }}
</div>