{% extends ':desktop:base.html.twig' %}
{% block body %}

    <div class="container_full">

        <div class="tp-banner-container">
            <div class="tp-banner" >

                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="800" >

                        <!-- MAIN IMAGE -->
                        <img src="http://placehold.it/1920x500" alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">

                        <div class="tp-caption customout sfr"
                             data-x="right" data-hoffset="0"
                             data-y="0"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="900"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 3"><img src="http://placehold.it/670x500" alt="">
                        </div>

                        <div class="tp-caption mediumlarge_light_white skewfromleft customout"
                             data-x="0"
                             data-y="125"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6">trust worthy and timely
                        </div>

                        <div class="tp-caption large_bold_white customin ltl"
                             data-x="0"
                             data-y="170"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 14">health <strong>&amp; medical</strong>
                        </div>

                        <div class="tp-caption medium_light_white skewfromright customout"
                             data-x="0"
                             data-y="245"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="2700"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6">Providing credible health information supportive community. <br />Keep your workforce healthy and We care about you.
                        </div>

                        <div class="tp-caption customin ltl"
                             data-x="0"
                             data-y="340"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 16"><a href="#" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp; buy theme </a>
                        </div>

                        <div class="tp-caption customin ltl"
                             data-x="200"
                             data-y="340"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 16"><a href="#" class="button_slider_02"><i class="fa fa-location-arrow"></i>&nbsp; get started</a>
                        </div>

                    </li>

                    <!-- SLIDE 2 -->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="800" >

                        <!-- MAIN IMAGE -->
                        <img src="http://placehold.it/1920x500" alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">

                        <div class="tp-caption mediumlarge_light_white skewfromleft customout"
                             data-x="0"
                             data-y="125"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="900"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6">5 Diffrent Websites
                        </div>

                        <div class="tp-caption large_bold_white customin ltl"
                             data-x="0"
                             data-y="170"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 14">Get <strong>Smarter Stuff!</strong>
                        </div>

                        <div class="tp-caption medium_light_white skewfromright customout"
                             data-x="0"
                             data-y="245"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6">Providing credible health information supportive community. <br />Keep your workforce healthy and We care about you.
                        </div>

                        <div class="tp-caption customin ltl"
                             data-x="0"
                             data-y="340"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 16"><a href="#" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp; buy theme </a>
                        </div>

                        <div class="tp-caption customin ltl"
                             data-x="200"
                             data-y="340"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="2300"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 16"><a href="#" class="button_slider_02"><i class="fa fa-location-arrow"></i>&nbsp; get started</a>
                        </div>

                    </li>

                    <!-- SLIDE 3 -->
                    <li data-transition="slidedown" data-slotamount="7" data-masterspeed="800" >

                        <!-- MAIN IMAGE -->
                        <img src="http://placehold.it/1920x500" alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">

                        <div class="tp-caption mediumlarge_light_white skewfromleft customout"
                             data-x="0"
                             data-y="125"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="900"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6">Professional Design &amp; Developed
                        </div>

                        <div class="tp-caption large_bold_white customin ltl"
                             data-x="0"
                             data-y="170"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 14">Responsive <strong>Themes</strong>
                        </div>

                        <div class="tp-caption medium_light_white skewfromright customout"
                             data-x="0"
                             data-y="245"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6">Providing credible health information supportive community. <br />Keep your workforce healthy and We care about you.
                        </div>

                        <div class="tp-caption customin ltl"
                             data-x="0"
                             data-y="340"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 16"><a href="#" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp; buy theme </a>
                        </div>

                        <div class="tp-caption customin ltl"
                             data-x="200"
                             data-y="340"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="2300"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 16"><a href="#" class="button_slider_02"><i class="fa fa-location-arrow"></i>&nbsp; get started</a>
                        </div>

                    </li>

                    <!-- SLIDE 4 -->
                    <li data-transition="slideup" data-slotamount="7" data-masterspeed="800" >

                        <!-- MAIN IMAGE -->
                        <img src="http://placehold.it/1920x500" alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">

                        <div class="tp-caption mediumlarge_light_white skewfromleft customout"
                             data-x="0"
                             data-y="125"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="900"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6">Corpo. Creative. Host. Medical. OnePage.
                        </div>

                        <div class="tp-caption large_bold_white customin ltl"
                             data-x="0"
                             data-y="170"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 14">MultiPurpose <strong>Use</strong>
                        </div>

                        <div class="tp-caption medium_light_white skewfromright customout"
                             data-x="0"
                             data-y="245"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6">Providing credible health information supportive community. <br />Keep your workforce healthy and We care about you.
                        </div>

                        <div class="tp-caption customin ltl"
                             data-x="0"
                             data-y="340"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="2200"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 16"><a href="#" class="button_slider"><i class="fa fa-hand-o-right"></i>&nbsp; buy theme </a>
                        </div>

                        <div class="tp-caption customin ltl"
                             data-x="200"
                             data-y="340"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="1000"
                             data-start="2300"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 16"><a href="#" class="button_slider_02"><i class="fa fa-location-arrow"></i>&nbsp; get started</a>
                        </div>

                    </li>

                </ul>

            </div>
        </div>

    </div><!-- end slider -->

    <div class="clearfix"></div>
    <div class="mar_top4"></div>

    <div class="joosa fusectio1">
        <div class="container">

            <h1><i>Powerfully Creative Design</i>
                Let’s Start <strong>HEALTHIER</strong> Project
            </h1>

            <div class="one_third">

                <div class="left">

                    <h4>Responsive designe</h4>
                    <p>Alterat some form ineicte randomise words which alook believable you are</p>
                    <a href="#"><i class="fa fa-plus-square"></i>&nbsp; Read More</a>

                </div>

                <div class="right one"></div>

            </div><!-- end section -->

            <div class="one_third">

                <div class="left">

                    <h4>5 diffrent layouts</h4>
                    <p>Alterat some form ineicte randomise words which alook believable you are</p>
                    <a href="#"><i class="fa fa-plus-square"></i>&nbsp; Read More</a>

                </div>

                <div class="right two"></div>

            </div><!-- end section -->

            <div class="one_third last">

                <div class="left">

                    <h4>corporate. host. medic.</h4>
                    <p>Alterat some form ineicte randomise words which alook believable you are</p>
                    <a href="#"><i class="fa fa-plus-square"></i>&nbsp; Read More</a>

                </div>

                <div class="right three"></div>

            </div><!-- end section -->

        </div>
    </div><!-- end features section 1 -->

    <div class="clearfix mar_top5"></div>

    <div class="joosa fusectio2">
        <div class="container">

            <h1><i>medically requirments</i>
                services we are providing
            </h1>

            <div class="one_fourth">
                <div class="zoom_img">
                    <ul><li>
                            <a href="#">
                                <div class="hide_contdiv">There are many variations pasages lpsum available but in the majority have alteration... more ></div>
                                <img src="http://placehold.it/275x170" class="blog" alt="" /><h5>Many Available</h5>
                            </a>
                        </li></ul>
                </div>
            </div><!-- end section -->

            <div class="one_fourth">
                <div class="zoom_img">
                    <ul><li>
                            <a href="#">
                                <div class="hide_contdiv">There are many variations pasages lpsum available but in the majority have alteration... more ></div>
                                <img src="http://placehold.it/275x170" class="blog" alt="" /><h5>websites infancy</h5>
                            </a>
                        </li></ul>
                </div>
            </div><!-- end section -->

            <div class="one_fourth">
                <div class="zoom_img">
                    <ul><li>
                            <a href="#">
                                <div class="hide_contdiv">There are many variations pasages lpsum available but in the majority have alteration... more ></div>
                                <img src="http://placehold.it/275x170" class="blog" alt="" /><h5>randomise words</h5>
                            </a>
                        </li></ul>
                </div>
            </div><!-- end section -->

            <div class="one_fourth last">
                <div class="zoom_img">
                    <ul><li>
                            <a href="#">
                                <div class="hide_contdiv">There are many variations pasages lpsum available but in the majority have alteration... more ></div>
                                <img src="http://placehold.it/275x170" class="blog" alt="" /><h5>leapto electronic</h5>
                            </a>
                        </li></ul>
                </div>
            </div><!-- end section -->

            <div class="clearfix mar_top2"></div>

            <div class="one_fourth">
                <div class="zoom_img">
                    <ul><li>
                            <a href="#">
                                <div class="hide_contdiv">There are many variations pasages lpsum available but in the majority have alteration... more ></div>
                                <img src="http://placehold.it/275x170" class="blog" alt="" /><h5>Aldus PageMaker</h5>
                            </a>
                        </li></ul>
                </div>
            </div><!-- end section -->

            <div class="one_fourth">
                <div class="zoom_img">
                    <ul><li>
                            <a href="#">
                                <div class="hide_contdiv">There are many variations pasages lpsum available but in the majority have alteration... more ></div>
                                <img src="http://placehold.it/275x170" class="blog" alt="" /><h5>include versions</h5>
                            </a>
                        </li></ul>
                </div>
            </div><!-- end section -->

            <div class="one_fourth">
                <div class="zoom_img">
                    <ul><li>
                            <a href="#">
                                <div class="hide_contdiv">There are many variations pasages lpsum available but in the majority have alteration... more ></div>
                                <img src="http://placehold.it/275x170" class="blog" alt="" /><h5>survived not only</h5>
                            </a>
                        </li></ul>
                </div>
            </div><!-- end section -->

            <div class="one_fourth last">
                <div class="zoom_img">
                    <ul><li>
                            <a href="#">
                                <div class="hide_contdiv">There are many variations pasages lpsum available but in the majority have alteration... more ></div>
                                <img src="http://placehold.it/275x170" class="blog" alt="" /><h5>specimen book</h5>
                            </a>
                        </li></ul>
                </div>
            </div><!-- end section -->

        </div>
    </div><!-- end features section 2 -->

    <div class="clearfix"></div>

    <div class="joosa fusectio3">
        <div class="container">

            <h1><i>Every client is unique</i>
                why <strong>choose</strong> our Center?
            </h1>

            <div class="one_third">
                <div class="clearfix mar_top2"></div>
                <ul>
                    <li><img src="images/site-icon1.png" alt="" /> <h4>Medical theme</h4> Lorem Ipsum their default search for lorem web sites.</li>
                    <li><img src="images/site-icon2.png" alt="" /> <h4>Corporate theme</h4> Lorem Ipsum their default search for lorem web sites.</li>
                    <li class="last"><img src="images/site-icon3.png" alt="" /> <h4>Creative theme</h4> Lorem Ipsum their default search for lorem web sites.</li>
                </ul>
            </div><!-- end section -->

            <div class="one_third">
                <div class="clearfix mar_top2"></div>
                <ul>
                    <li><img src="images/site-icon4.png" alt="" /> <h4>Hosting theme</h4> Lorem Ipsum their default search for lorem web sites.</li>
                    <li><img src="images/site-icon5.png" alt="" /> <h4>one page theme</h4> Lorem Ipsum their default search for lorem web sites.</li>
                    <li class="last"><img src="images/site-icon6.png" alt="" /> <h4>MultiPurpose themes</h4> Lorem Ipsum their default search for lorem web sites.</li>
                </ul>
            </div><!-- end section -->

            <div class="one_third last"><img src="http://placehold.it/360x380" alt="" /></div>

            <div class="clearfix mar_top2"></div>

        </div>
    </div><!-- end features section 3 -->

    <div class="clearfix mar_top5"></div>

    <div class="joosa fusectio4">
        <div class="container">

            <div class="one_third">

                <h3><strong>FAQs</strong></h3>

                <div class="accrodation">

                    <!-- section 1 -->
                    <span class="acc-trigger active"><a href="#">Responsive Theme</a></span>
                    <div class="acc-container">
                        <div class="content">
                            There are many variations the passa available but majority have desktop publishing lipsum page editors printing and typesetting it has been the words.
                        </div>
                    </div>

                    <!-- section 2 -->
                    <span class="acc-trigger"><a href="#">Cross Browser Support</a></span>
                    <div class="acc-container">
                        <div class="content">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                        </div>
                    </div>

                    <!-- section 3 -->
                    <span class="acc-trigger"><a href="#">Slideshows &amp; Shortcodes</a></span>
                    <div class="acc-container">
                        <div class="content">
                            There are many variations of but the majority have suffered alteration in some or randomised words which looks.
                        </div>
                    </div>

                    <!-- section 4 -->
                    <span class="acc-trigger"><a href="#">5 Diffrent Website Layouts</a></span>
                    <div class="acc-container">
                        <div class="content">
                            There are many variations of but the majority have suffered alteration in some or randomised words which looks.
                        </div>
                    </div>

                </div>
            </div><!-- end faqs section -->

            <div class="one_third">
                <h3><strong>INDUSTRY NEWS</strong></h3>

                <div class="ind_news">
                    <div class="quotes">
                        <h5>Many web sites still their infancy. <em>January 04, 2014</em></h5>
                        All the Lorem Ipsum generators on Internet tend to repeat chunks as necessary making the true enerato on the many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for will many web sites.
                    </div><!-- end section -->

                    <div class="quotes">
                        <h5>Simply dummy text of the typesetting <em>January 03, 2014</em></h5>
                        All the Lorem Ipsum generators on Internet tend to repeat chunks as necessary making the true enerato on the many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for will many web sites.
                    </div><!-- end section -->

                    <div class="quotes">
                        <h5>Lorem Ipsum is therefore always. <em>January 02, 2014</em></h5>
                        All the Lorem Ipsum generators on Internet tend to repeat chunks as necessary making the true enerato on the many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for will many web sites.
                    </div><!-- end section -->

                    <br />
                    <a href="#">All Hospital News</a>

                </div>
            </div><!-- end news section -->

            <div class="one_third last">

                <h3><strong>SPECIAL BANNERS</strong></h3>

                <div class="spe_banner">

                    <div class="left"></div>

                    <div class="right">
                        <strong>plans to will meet? </strong>
                        <p>Latin words, combined with handful of model sentence structures websites.</p>
                        <a href="#">register now!</a>
                    </div>

                </div>
            </div><!-- end banner section -->

        </div>
    </div><!-- end features section 4 -->

    <div class="clearfix mar_top3"></div>

    <div class="fresh_projects">
        <div class="container">

            <h1><i>meet Doctors of our Team</i>
                our <strong>professional</strong> doctors
            </h1>

            <ul id="mycarouseltwo" class="jcarousel-skin-tango">

                <li>
                    <div class="item">
                        <div class="fresh_projects_list">
                            <section class="cheapest">
                                <div class="display">
                                    <div class="small-group">
                                        <div class="small money">
                                            <img src="http://placehold.it/275x300" alt="">
                                            <div class="info">
                                                <div class="title">Dr. Brick Wall <em>ED, Founder</em>
                                                    <ul>
                                                        <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                    </ul>
                                                </div>
                                                <div class="additionnal">
                                                    There are many variations pasages
                                                    lpsum available but in the majority
                                                    have suffered alteration [...]<br /><br />
                                                    <b><a href="#">more ></a></b>
                                                </div>
                                            </div>
                                            <div class="hover"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li><!-- end item -->

                <li>
                    <div class="item">
                        <div class="fresh_projects_list">
                            <section class="cheapest">
                                <div class="display">
                                    <div class="small-group">
                                        <div class="small money">
                                            <img src="http://placehold.it/275x300" alt="">
                                            <div class="info">
                                                <div class="title">Dr. Mistry <em>Partner</em>
                                                    <ul>
                                                        <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                    </ul>
                                                </div>
                                                <div class="additionnal">
                                                    There are many variations pasages
                                                    lpsum available but in the majority
                                                    have suffered alteration [...]<br /><br />
                                                    <b><a href="#">more ></a></b>
                                                </div>
                                            </div>
                                            <div class="hover"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li><!-- end item -->

                <li>
                    <div class="item">
                        <div class="fresh_projects_list">
                            <section class="cheapest">
                                <div class="display">
                                    <div class="small-group">
                                        <div class="small money">
                                            <img src="http://placehold.it/275x300" alt="">
                                            <div class="info">
                                                <div class="title">Dr. Butcher <em>Partner</em>
                                                    <ul>
                                                        <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                    </ul>
                                                </div>
                                                <div class="additionnal">
                                                    There are many variations pasages
                                                    lpsum available but in the majority
                                                    have suffered alteration [...]<br /><br />
                                                    <b><a href="#">more ></a></b>
                                                </div>
                                            </div>
                                            <div class="hover"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li><!-- end item -->

                <li>
                    <div class="item">
                        <div class="fresh_projects_list">
                            <section class="cheapest">
                                <div class="display">
                                    <div class="small-group">
                                        <div class="small money">
                                            <img src="http://placehold.it/275x300" alt="">
                                            <div class="info">
                                                <div class="title">Dr. Valentine <em>Partner</em>
                                                    <ul>
                                                        <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                    </ul>
                                                </div>
                                                <div class="additionnal">
                                                    There are many variations pasages
                                                    lpsum available but in the majority
                                                    have suffered alteration [...]<br /><br />
                                                    <b><a href="#">more ></a></b>
                                                </div>
                                            </div>
                                            <div class="hover"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li><!-- end item -->

                <li>
                    <div class="item">
                        <div class="fresh_projects_list">
                            <section class="cheapest">
                                <div class="display">
                                    <div class="small-group">
                                        <div class="small money">
                                            <img src="http://placehold.it/275x300" alt="">
                                            <div class="info">
                                                <div class="title">Dr. Watamaniuk <em>Partner</em>
                                                    <ul>
                                                        <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                    </ul>
                                                </div>
                                                <div class="additionnal">
                                                    There are many variations pasages
                                                    lpsum available but in the majority
                                                    have suffered alteration [...]<br /><br />
                                                    <b><a href="#">more ></a></b>
                                                </div>
                                            </div>
                                            <div class="hover"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li><!-- end item -->

                <li>
                    <div class="item">
                        <div class="fresh_projects_list">
                            <section class="cheapest">
                                <div class="display">
                                    <div class="small-group">
                                        <div class="small money">
                                            <img src="http://placehold.it/275x300" alt="">
                                            <div class="info">
                                                <div class="title">Dr. Pennie <em>Partner</em>
                                                    <ul>
                                                        <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                    </ul>
                                                </div>
                                                <div class="additionnal">
                                                    There are many variations pasages
                                                    lpsum available but in the majority
                                                    have suffered alteration [...]<br /><br />
                                                    <b><a href="#">more ></a></b>
                                                </div>
                                            </div>
                                            <div class="hover"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li><!-- end item -->

                <li>
                    <div class="item">
                        <div class="fresh_projects_list">
                            <section class="cheapest">
                                <div class="display">
                                    <div class="small-group">
                                        <div class="small money">
                                            <img src="http://placehold.it/275x300" alt="">
                                            <div class="info">
                                                <div class="title">Dr. Dickman <em>Partner</em>
                                                    <ul>
                                                        <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                        <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                    </ul>
                                                </div>
                                                <div class="additionnal">
                                                    There are many variations pasages
                                                    lpsum available but in the majority
                                                    have suffered alteration [...]<br /><br />
                                                    <b><a href="#">more ></a></b>
                                                </div>
                                            </div>
                                            <div class="hover"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li><!-- end item -->

            </ul>

        </div>

        <div class="clearfix mar_top2"></div>

    </div><!-- end fresh projects -->

    <div class="clearfix mar_top5"></div>

    <div class="container">

        <div class="people_says_main">
            <div class="testimonials">

                <h3>What our patients say</h3>

                <div class="people_says">

                    <ul id="mycarousel" class="jcarousel-skin-tango">

                        <li>
                            <div class="picture"><img src="http://placehold.it/160x160" alt="" /></div>
                            <div class="who_pic">
                                <p>" There are many variations of passages lorem Ipsum available but the majority suffered alteration in some form by injected they humo rando smised  you need tobes long establishe readeas."</p>
                                <div class="name"><strong>- Patient Name</strong>
                                    <i>custmer</i></div>
                            </div>
                        </li>

                        <li>
                            <div class="picture"><img src="http://placehold.it/160x160" alt="" /></div>
                            <div class="who_pic">
                                <p>" There are many variations of passages lorem Ipsum available but the majority suffered alteration in some form by injected they humo rando smised  you need tobes long establishe readeas."</p>
                                <div class="name"><strong>- Patient Name</strong>
                                    <i>custmer</i></div>
                            </div>
                        </li>

                        <li>
                            <div class="picture"><img src="http://placehold.it/160x160" alt="" /></div>
                            <div class="who_pic">
                                <p>" There are many variations of passages lorem Ipsum available but the majority suffered alteration in some form by injected they humo rando smised  you need tobes long establishe readeas."</p>
                                <div class="name"><strong>- Patient Name</strong>
                                    <i>custmer</i></div>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>
        </div><!-- end testimonials section -->

        <div class="partners">

            <h3>Our Partners</h3>

            <ul>
                <li><img src="images/client-logo1.png" alt="" /></li>
                <li><img src="images/client-logo2.png" alt="" /></li>
                <li class="last"><img src="images/client-logo3.png" alt="" /></li>
            </ul>

            <div class="clearfix mar_top2"></div>

            <ul>
                <li><img src="images/client-logo4.png" alt="" /></li>
                <li><img src="images/client-logo5.png" alt="" /></li>
                <li class="last"><img src="images/client-logo6.png" alt="" /></li>
            </ul>

        </div><!-- end section -->

    </div><!-- end two sections -->

    <div class="clearfix mar_top4"></div>

    <div class="joosa punch_text02">

        <div class="container">
            <div class="right_img">

                <b>Join the Joosa &amp; Give Your Website a Brand New Look!
                    <em>Build an amazing and professional website with Joosa. We hope that you enjoy it.</em></b>
                <br />
                <a href="#" class="pur_link">purchse now! &nbsp;<i class="fa fa-location-arrow"></i></a>
            </div>
        </div>

    </div><!-- end punch text 02 -->

    <div class="clearfix"></div>

{% endblock %}





