<div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="start ">
            <a href="index.html">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li >
            <a href="javascript:;">
                <i class="icon-cogs"></i>
                <span class="title">Inbox</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                 <li >
                    <a href="layout_horizontal_sidebar_menu.html">SMS</a>
                </li>
                <li >
                    <a href="layout_horizontal_sidebar_menu.html">Email</a>
                </li>

            </ul>
        </li>
        <!-- BEGIN FRONT DEMO -->
        <li class="tooltips" data-placement="right" data-original-title="Frontend&nbsp;Theme&nbsp;For&nbsp;Metronic&nbsp;Admin">
            <a href="http://keenthemes.com/preview/index.php?theme=metronic_frontend" target="_blank">
                <i class="icon-gift"></i>
                <span class="title">Transaction</span>
            </a>
        </li>
        <li>
            <a href="{{ path('domain_customer_order') }}">
                <i class="icon-bar-chart"></i>
                <span class="title">Order</span>
            </a>
        </li>
        <li class="last ">
            <a href="charts.html">
                <i class="icon-bar-chart"></i>
                <span class="title">Visual Charts</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>