
.panel-filter{
    width: 95%;
}

.product-item{
    margin-bottom: 20px;
}
.addCart .form-control-custom{
    height: 34px;
    border-radius:0 !important;
    margin-bottom: 15px;
}

.promotion-carousel .owl-controls .owl-buttons div.owl-prev, .promotion-carousel .owl-controls .owl-buttons div.owl-next{
    top: 22% !important;
}
.product-feature-box{
    text-align: center;
    overflow: hidden;
    position: relative;
}
.product-feature-box:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,63,91,0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.product-feature-box:hover:after{
    opacity: 1;
}
.product-feature-box img{
    width: 100%;
    height: auto;
}
.product-feature-box .product-feature-box-content{
    width: 100%;
    background: #ff002e;
    padding: 10px 0;
    color: #FFFFff;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.product-feature-box:hover .product-feature-box-content{
    bottom: 0;
}
.product-feature-box .title{
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 8px 0;
    text-transform: uppercase;
}
.product-feature-box .post{
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}
.product-feature-box .social{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.product-feature-box .social li{
    display: inline-block;
    margin-right: 7px;
    position: relative;
    transform: translateY(-100px);
    transition: all 0.5s ease 0s;
}
.product-feature-box:hover .social li:first-child{
    transition-delay: 0.5s;
}
.product-feature-box:hover .social li:last-child{
    transition-delay: 0.8s;
}
.product-feature-box .social li:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background: #f1e7c3;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.product-feature-box:hover .social li{
    transform: translateY(0);
}
.product-feature-box .social li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #f1e7c3;
    font-size: 20px;
    font-weight: 700;
    color: #003f5b;
    margin-top: 50px;
    opacity: 1;
    transition: all 0.3s ease 0s;
}
.product-feature-box:hover .social li a{
    opacity: 1;
}
/*
.product-feature-box .social li a:hover{
    background: #ff002e;
    color: #fff;
}
*/

@media only screen and (max-width:990px){
    .product-feature-box{ margin-bottom: 30px; }
}

.head-blue {
    background: #4b8df8;
}
.head-blue th{
    color: #ffffff;
    font-weight: 400;
}
#purchaseItem td{
    vertical-align: middle;
}
#purchaseItem .input-append, .input-prepend{
    margin-bottom: 0;
}
.payment-label{
    line-height: 34px;
    text-align: right;
}
.center-input{
    width: 105px!important;
}

.payment-red {
    color: red!important;
}

.payment-yellow {
    color: blue !important;
}
#cartMethod{
    display: none;
}

.form .control-group .controls ul{
    margin-left: 0;
    margin-top: -10px;
}
#error-msg{
    color: #f0262f;
}


.select2-container{
    margin-left: 15px!important;
}
.select2Item{
    float: left!important;
    margin-left: 0!important;
}

.search-form{
    margin: 0!important;
}
.search-portlet.box{

    margin-bottom: 0!important;
    height: 34px!important;
    border-bottom: 1px solid #555555!important;
    border-top: 1px solid #555555!important;
}

#message {
    line-height: 21px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
}

.select2{
    margin-left: 0!important;
}
.input-append .add-on, .input-prepend input[class*="numeric"]{
    font-size: 13px!important;
}
.input-append .add-on, .input-prepend .add-on{
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}
.ic_container{
    left: -1px;
}
.ic_container img{
    min-width: 305px;
}

.ps-toolbar{
    z-index: 999999!important;
}

#numberBox {
    border: 2px solid #2c3e50;
    font-size: 20px;
    text-align: center;
    height: 35px;
    width: 100%;
}

.dropdown{
    height: 35px;
    margin-bottom: 5px;
}
.product-single-meta .p-single-meta-likes {
    float: left;
    text-align: left;
    font-size: 14px;
}

.product-single-meta{
    padding:0;
    margin-bottom:0;
    display: inline-block;
    width: 100%;
}

.product-single-meta .p-single-meta-likes i {
    font-size: 18px;
    color: #008d71;
}

.product-single-meta .p-single-meta-share a {
    font-size: 12px;
    color: #EAEAEA;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #008d71;
    display: inline-block;
    border-radius: 50%;
}
.module-title a
{
    color: #008d71!important;
}
.module-title a:hover
{
    background:#ffffff!important;
    color: #35aa47!important;
    text-decoration: underline;
}
