.addCart .form-control-custom{
    height: 34px;
    border-radius:0 !important;
    margin-bottom: 15px;
}



.outer-div
{
    padding:0;
    background-color: #f3f3f3;
    margin-bottom: 15px;
}
.inner-div
{
    margin: 0 auto;
    height: auto;
    background-color: #f3f3f3;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

.ic_caption .title{
    font-weight: bold;
    margin-top: 5px !important;
    line-height: 20px!important;
    height: 20px !important;
    padding-left: 8px!important;
    padding-right: 8px !important;
    clear: both;
    width: 100%;
    color: #ffffff;
}

.product-details{
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 8px;
    border-top: 1px solid #ffffff;
}
.product-details table{
    margin: 0!important;
    padding: 0!important;
    border: none;
    width: 100%;
}


.product-short-details{
    margin-bottom: 1px;
    margin-top: 1px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}

.product-details .info-list {

    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-size: 11px;
    padding-left: 30px;
    background-position: 10px 9px;
}

.product-details .buy-list {
    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-size: 11px;
    padding-left:30px;
    background-position: 5px 6px;

}


.ic_caption p{
    padding: 0!important;
    margin: 0!important;
    display: block;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    color: #ffffff;
}
.ic_caption p.title a{
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
}

.ic_caption p.title a:hover{
    text-decoration: underline !important;
    color: #fff;
}

.left{
    text-align: left;
    float: left;
    display: inline-block;
}
.center{
    text-align: center;
    display: inline-block;
}

.right{
    text-align: right;
    float: right;
    display: inline-block;
    right: 5px;
}

.product .product-details{
    margin-bottom: 1px;
    margin-top: 1px;
    border-top: 1px solid #000;
}
.product .product-details table{
    margin: 0!important;
    padding: 0!important;
    border: none;
}
.product .product-details table tr{
    background: #fff;
}
.product .product-details table tr td{
    padding:0!important;
    text-shadow: none!important;
    line-height: 20px;
    font-size: 12px;
    border: none;
    background: #ffffff;
}
.product .product-details table tr td:nth-child(1){
    width: 20%;
    border-right: none;
}

.product .product-details table tr td:nth-child(2){
    width: 80%;
    border-right: none;
}

.product .product-short-details{
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 8px;
}

.product .product-details .info-list {

    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-size: 11px;
    line-height: 18px;
    padding-left: 24px;
    text-align: left;
    width: 30%;
    float: right;
}

.product .product-details .buy-list {
    background-position: 16px 6px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: 14px;
    padding-left:50px;
}

.product .product-details .wallet-list {
    background-position: 16px 9px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: 14px;
    padding-left:50px;
}


input[class*="span"].m-wrap {
    height: 28px!important;
}
.numeric input {
    margin-bottom: 0;
    min-height: 15px!important;
    width: 70px;
    height: 15px!important;
    border: 1px solid #999;
    font-size: 13px!important;
    line-height: 15px!important;
}

.td-inline-input input{
    height: 15px!important;
    line-height: 13px!important;
    min-height: 15px!important;
    font-size: 13px!important;
    border: 1px solid #999;
    width: 70px;
}

.category-select {
    float: left;
    width: 100%!important;

}
.select2-container .select2-choice {
    height: 32px;
    line-height: 32px;
    margin-top: 3px;
}
.select2-container .select2-choice {
    border-radius: 0!important;
}
.select2-drop{
    border-radius: 0!important;
}
.page-select {
    float: left;
    width: 40px!important;
    text-align: center;
    height: 32px!important;
    line-height: 32px;
    margin-top: 3px!important;
    border-radius: 0!important;
    border: 1px solid #999;
}

.td-inline-label{
    height: 15px!important;
    line-height: 25px!important;
    min-height: 15px!important;
    font-size: 13px!important;
}

.head-blue {
    background: #4b8df8;
}
.head-blue th{
    color: #ffffff;
    font-weight: 400;
}
#purchaseItem td{
    vertical-align: middle;
}
#purchaseItem .input-append, .input-prepend{
    margin-bottom: 0;
}
.payment-label{
    line-height: 34px;
    text-align: right;
}
.center-input{
    width: 105px!important;
}

.payment-red {
    color: red!important;
}

.payment-yellow {
    color: blue !important;
}
#cartMethod{
    display: none;
}

.form .control-group .controls ul{
    margin-left: 0;
    margin-top: -10px;
}
#error-msg{
    color: #f0262f;
}


.select2-container{
    margin-left: 15px!important;
}
.select2Item{
    float: left!important;
    margin-left: 0!important;
}

.search-form{
    margin: 0!important;
}
.search-portlet.box{
    margin-bottom: 0!important;
    height: 34px!important;
    border-bottom: 1px solid #555555!important;
    border-top: 1px solid #555555!important;
}

#message {
    line-height: 21px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
}

.select2{
    margin-left: 0!important;
}
.input-append .add-on, .input-prepend input[class*="numeric"]{
    font-size: 13px!important;
}
.input-append .add-on, .input-prepend .add-on{
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}
.ic_container{
    left: -1px;
}
.ic_container img{
    min-width: 305px;
}

.ps-toolbar{
    z-index: 999999!important;
}

#numberBox {
    border: 2px solid #2c3e50;
    font-size: 20px;
    text-align: center;
    height: 35px;
    width: 100%;
}

.dropdown{
    height: 35px;
    margin-bottom: 5px;
}
.product-single-meta .p-single-meta-likes {
    float: left;
    text-align: left;
    font-size: 14px;
}

.product-single-meta{
    padding:0;
    margin-bottom:0;
    display: inline-block;
    width: 100%;
}

.product-single-meta .p-single-meta-likes i {
    font-size: 18px;
    color: #008d71;
}

.product-single-meta .p-single-meta-share a {
    font-size: 12px;
    color: #EAEAEA;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #008d71;
    display: inline-block;
    border-radius: 50%;
}
.module-title a
{
    color: #008d71!important;
}
.module-title a:hover
{
    background:#ffffff!important;
    color: #35aa47!important;
    text-decoration: underline;
}
