{% extends ':frontend/template/mobile:ecommerce-base.html.twig' %}
{% block body %}
    <!--/welcome-->
    <div class="welcome">
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
            <section>
                {% render controller("FrontendBundle:EcommerceWidget:ecommerceMobileWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'mobile'}) %}
            </section>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    <!--//welcome-->
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product-canvas.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}

{% block documentready %}
    {{ parent() }}
    $(document).on( "click", ".selector", function(e){
        var show = $(this).attr('data-id');
        $('#'+show).slideToggle();
        $("span", this).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
    });

    $('#OneColumnCarousel').carousel({
        interval: 40000
    });

    $('#TwoColumnCarousel').carousel({
        interval: 500000000
    });

    $('.twoColumnCarousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
        next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));
        if (next.length > 0) {
        next.addClass('rightest');
        }
        else {
        $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });

    $('#ThreeColumnCarousel').carousel({
        interval: 60000
    });

    $('.threeColumnCarousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
        next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {

        next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');

        }else {

        $(this).siblings(':first').children(':first-child').clone().appendTo($(this));

        }
    });

    $('#FourColumnCarousel').carousel({
        interval: 80000
    });

    $('.fourColumnCarousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
        next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));
        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
            if (next.next().length > 0) {
              next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');
            }
        }else {

        $(this).siblings(':first').children(':first-child').clone().appendTo($(this));

        }
    });

{% endblock %}