{% extends ':frontend/template/mobile:ecommerce-base.html.twig' %}
{% block body %}
    <!--/welcome-->
    <div class="welcome">
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
            <section>
                {% render controller("FrontendBundle:EcommerceWidget:ecommerceMobileWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'mobile'}) %}
            </section>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    <style>


        div.treeview, .treeview ul {
            margin:0;
            padding:0;
            list-style:none;
            color: #F88216;
        }
        .treeview ul {
            margin-left:5px!important;
            position:relative;
            width: 250px;
        }
        .treeview ul ul {
            margin-left:.5em
        }
        .treeview ul:before {
            content:"";
            display:block;
            width:0;
            position:absolute;
            top:0;
            left:0;
            border-left:1px solid;
            bottom:15px;
        }
        .treeview li {
            margin:0;
            padding:0 1em;
            line-height:2em;
            position:relative
        }
        .treeview ul li:before {
            content:"";
            display:block;
            width:10px;
            height:0;
            border-top:1px solid;
            margin-top:-1px;
            position:absolute;
            top:1em;
            left:0
        }
        .tree-indicator {
            margin-right:5px;
            color: #F88216!important;
            cursor:pointer;
        }
        .treeview li a {
            text-decoration: none;
            color:#222222;
            cursor:pointer;
        }
        .treeview li a:hover{
            color: #F88216!important;
        }
        .treeview li button, .treeview li button:active, .treeview li button:focus {
            text-decoration: none;
            color:inherit;
            border:none;
            background:transparent;
            margin:0;
            padding:0;
            outline: 0;
        }

        .scrollbar
        {
            height: 300px;
            overflow-y: scroll;
            margin-bottom: 25px;
            overflow-x: hidden;
        }
        .scrollbar::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar
        {
            width: 10px;
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar-thumb
        {
            background-color: #f48024;
            border: 1px solid #C66812;
        }


        .carousel-control     		 { width:  4%; }
        .carousel-control.left , .carousel-control.right {margin-left:15px;background-image:none;}
        .carousel-logo .carousel-inner .active.left { left: -25%; }
        .carousel-logo .carousel-inner .next        { left:  25%; }
        .carousel-logo .carousel-inner .prev    	 { left: -25%; }
        .carousel-logo .carousel-control 			 { width:  4%; }
        .carousel-logo .carousel-control.left,.carousel-logo .carousel-control.right {margin-left:15px;background-image:none;}

        .carousel-inner .active.left { left: -33%; }
        .carousel-inner .next        { left:  33%; }
        .carousel-inner .prev        { left: -33%; }
        .carousel-control.left,.carousel-control.right {background-image:none;}
        .item:not(.prev) {visibility: visible;}
        .item.right:not(.prev) {visibility: hidden;}
        .rightest{ visibility: visible;}

        .control-box {
            text-align: right;
            width: 100%;
        }
        .carousel-control{
            background: #666;
            border: 0px;
            border-radius: 0px;
            display: inline-block;
            font-size: 34px;
            font-weight: 200;
            line-height: 18px;
            opacity: 0.5;
            padding: 4px 10px 0px;
            position: static;
            height: 30px;
            width: 15px;
        }
        .carousel-inner {
            height: auto!important;
            position: relative;
        }

        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
            position: relative;
            min-height: 1px;
            padding-right: 7px;
            padding-left: 7px;
        }

        .feature-grid .col-sm-12 .wrap-category , .feature-grid .col-sm-6 .wrap-category {
            position:relative;
            border: 1px solid #ddd;
            margin-bottom:15px;
        }
        .wrap-category .img-responsive{
            padding-left: 5px;
        }
        .feature-grid .col-sm-12 .wrap-category .cat-label {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            color:#615e58;
            left: 50px;
            border-left: 1px solid #ddd;
            font-size:11px;
            text-align:left;
            display: block;
            vertical-align:middle;
            line-height:30px;
            padding:5px;
            font-weight:bold;
        }
        .feature-grid .col-sm-6 .wrap-category .cat-label {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            color:#615e58;
            left: 50px;
            border-left: 1px solid #ddd;
            font-size:13px;
            text-align:left;
            display: block;
            vertical-align:middle;
            line-height:12px;
            padding:5px;
            font-weight:bold;
        }

        .bs-callout-custom {
            padding: 5px;
            height: 32px;
        }
        .feature-title {
            text-align: left;
            float: left;
            line-height: 30px;
            margin-bottom: 0!important;
        }
        .control-box{
            text-align: right;
            width: 100%;
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
        .control-box ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .control-box li>a, .control-box li>span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 1px;
        }

        .img-responsive-preview {

            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            padding: 5px;
            opacity: 0.8;
            z-index: 9;
            color: #ffffff;
            background-color: #0b0e23;
            float: left;
            font-size:20px;
        }

        .img-responsive-preview-top-left {
            top: 5%;
            left: 23%;
        }
        .img-responsive-preview-top-center {
            top: 5%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .img-responsive-preview-top-right {
            top: 20%;
            left: 95%;
            margin-right: -100%;
            transform: translate(-100%, -100%);

        }
        .img-responsive-preview-bottom-left {
            top: 95%;
            left: 23%;
        }
        .img-responsive-preview-bottom-center {
            top: 95%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .img-responsive-preview-bottom-right {
            top: 95%;
            left: 95%;
            margin-right: -100%;
            transform: translate(-100%, -100%);

        }

        .product-preview {
            margin-bottom:5px;
        }
        #product .thumbnail {
            margin-bottom: 2px;
            padding: 0px;
        }
        .caption{
            min-height: 80px;
        }
        .brand{
            display: inherit;
            font-size: 12px;
            color: #555;
        }
        .product-name{
            display: inherit;
        }
        .product-price{
            color:red;
            font-weight: bold;
            padding-top: 5px;
        }
        .product-price strong{
            color:red
        }
        .product-price strike{
            color: #999;
            font-size: 12px;
            font-weight: normal;
        }
        .category-name{
            font-size: 12px;
            text-align: left;
            display: inherit;
        }
        .bs-callout {
            padding:0;
            padding-left: 15px;
            padding-right: 15px;
            margin: 20px 0;
            border: none!important;
            border-radius:0;
            text-align: center;
            background-color: #F9FAFA;
        }
        .bs-callout-info h4{
            font-size: 16px;
        }



    </style>
    <!--//welcome-->
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product-cosmetic.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}

{% block documentready %}
    {{ parent() }}

    var owlFeatureSidebarSLider = $(".promotion-slider , .tag-slider , .discount-slider , .category-slider");
    owlFeatureSidebarSLider.owlCarousel({
    items:1,
    slideSpeed : 3000,
    itemsDesktop:[1000,2],
    itemsDesktopSmall:[979,1],
    itemsTablet:[768,1],
    pagination:false,
    singleItem:true,
    transitionStyle:"goDown",
    rewindNav : false,
    autoPlay:false,
    navigation:true,
    navigationText: [
    "<a id='feature-page-prev' class='glyphicon glyphicon-chevron-left'></a>",
    "<a id='feature-page-next' class='glyphicon glyphicon-chevron-right'></a>"
    ],
    });

    var owlFeatureBrand = $(".brand-slider");
    owlFeatureBrand.owlCarousel({
    items:2,
    slideSpeed : 3000,
    itemsDesktop:[1000,2],
    itemsDesktopSmall:[979,1],
    itemsTablet:[768,1],
    pagination:false,
    singleItem:true,
    transitionStyle:"goDown",
    rewindNav : false,
    autoPlay:false,
    navigation:true,
    navigationText: [
    "<a id='feature-page-prev' class='glyphicon glyphicon-chevron-left'></a>",
    "<a id='feature-page-next' class='glyphicon glyphicon-chevron-right'></a>"
    ],
    });

    $(document).on( "click", ".selector", function(e){
        var show = $(this).attr('data-id');
        $('#'+show).slideToggle();
        $("span", this).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
    });

    $('#OneColumnCarousel').carousel({
        interval: 40000
    });

    $('#TwoColumnCarousel').carousel({
        interval: 500000000
    });

    $('.twoColumnCarousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
        next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));
        if (next.length > 0) {
        next.addClass('rightest');
        }
        else {
        $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });

    $('#ThreeColumnCarousel').carousel({
        interval: 60000
    });

    $('.threeColumnCarousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
        next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {

        next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');

        }else {

        $(this).siblings(':first').children(':first-child').clone().appendTo($(this));

        }
    });

    $('#FourColumnCarousel').carousel({
        interval: 80000
    });

    $('.fourColumnCarousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
        next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));
        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
            if (next.next().length > 0) {
              next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');
            }
        }else {

        $(this).siblings(':first').children(':first-child').clone().appendTo($(this));

        }
    });

{% endblock %}