{% extends ':frontend/template/mobile:ecommerce-base.html.twig' %}
{% block body %}
    <!--/welcome-->
    <div class="welcome">
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
            <section>
                {% render controller("FrontendBundle:WebsiteWidget:featureMobileWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'mobile'}) %}
            </section>
        {% endif %}
        <style>
            .carousel-control     		 { width:  4%; }
            .carousel-control.left , .carousel-control.right {margin-left:15px;background-image:none;}
            /*@media (max-width: 767px) {
                .carousel-inner .active.left { left: -50%; }
                .carousel-inner .next        { left:  50%; }
                .carousel-inner .prev		 { left: -50%; }
                .active > div { display:none; }
                .active > div:first-child { display:block; }

            }
            @media (min-width: 767px) and (max-width: 992px ) {
                .carousel-inner .active.left { left: -50%; }
                .carousel-inner .next        { left:  50%; }
                .carousel-inner .prev		 { left: -50%; }
                .active > div { display:none; }
                .active > div:first-child { display:block; }
                .active > div:first-child + div { display:block; }
            }
            @media (min-width: 992px ) {
                .carousel-inner .active.left { left: -16.7%; }
                .carousel-inner .next        { left:  16.7%; }
                .carousel-inner .prev		 { left: -16.7%; }
            }*/

            .carousel-logo .carousel-inner .active.left { left: -25%; }
            .carousel-logo .carousel-inner .next        { left:  25%; }
            .carousel-logo .carousel-inner .prev    	 { left: -25%; }
            .carousel-logo .carousel-control 			 { width:  4%; }
            .carousel-logo .carousel-control.left,.carousel-logo .carousel-control.right {margin-left:15px;background-image:none;}

            .carousel-inner .active.left { left: -33%; }
            .carousel-inner .next        { left:  33%; }
            .carousel-inner .prev        { left: -33%; }
            .carousel-control.left,.carousel-control.right {background-image:none;}
            .item:not(.prev) {visibility: visible;}
            .item.right:not(.prev) {visibility: hidden;}
            .rightest{ visibility: visible;}

            .control-box {
                text-align: right;
                width: 100%;
            }
            .carousel-control{
                background: #666;
                border: 0px;
                border-radius: 0px;
                display: inline-block;
                font-size: 34px;
                font-weight: 200;
                line-height: 18px;
                opacity: 0.5;
                padding: 4px 10px 0px;
                position: static;
                height: 30px;
                width: 15px;
            }



        </style>

        <div class="b-bottom">

            <div class="col-md-12">


            {#{% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty %}
                <section class="feature-widget-body-bottom"  >
                    {% render controller("FrontendBundle:EcommerceWidget:featureWidget",{'globalOption':globalOption.id, 'pageName':'Home','position':'body-bottom'}) %}
                </section>
            {% endif %}
            #}

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//welcome-->
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product-cosmetic.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {% javascripts
    '@FrontendBundle/Resources/public/template/mobile/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}


    $('#TwoColumnCarousel').carousel({
        interval: 40000
    });
    $('.twoCarousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
        next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this)).addClass('xxx');
        if (next.next().length > 0) {

        next.next().children(':first-child').clone().appendTo($(this)).addClass('hidden-sm hidden-xs');
        }
        else {
        $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });

    $('#ThreeColumnCarousel').carousel({
        interval: 40000
    });

    $('.threeCarousel .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    if (next.next().length > 0) {

    next.next().children(':first-child').clone().appendTo($(this)).addClass('rightest');

    }else {

    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));

    }
    });

{% endblock %}